<%@ Template Language="C#" TargetLanguage="C#" Description="Template de la capa de Acceso a Datos" ResponseEncoding="ASCII"%>    	
<%@ CodeTemplate Src="..\..\CommonCode\CommonCode.cs" Inherits="Me.CommonCode" Language="C#" TargetLanguage="C#" Description="A base class for the entities." ResponseEncoding="ASCII"%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Property Name="NombreProgramador" Type="System.String" Default="Byron Chavez" Category="Options" Description="Nombre del Programdor" %>
<%@ Property Name="Package" Type="System.String" Default="Indefinido" Category="Options" Description="Nombre de la Entidad" %>
<%@ Property Name="TablaBase" Type="SchemaExplorer.TableSchema" EXCLUDED="true"	Category="Context"%>
<%@ Property Name="Empresa" Type="System.String" Default="Byron Chavez" Category="Options" Description="Nombre de la Empresa" %>


<script runat="template">
public String GetEventsButtonsBusquedasIndicesTablasClases() 
		{
			
			String strInit="";
			
			
			
			
			foreach(IndexSchema indexSchema in TablaBase.Indexes)
			{
			
				if(!indexSchema.IsPrimaryKey)
				{
					
					if(indexSchema.IsUnique)
					{
						continue;
					}
					else
					{
						strInit+="\r\n\t\telse if(args.widgetId=='btndjdjtBuscar"+GetNombreClase(TablaBase.ToString())+indexSchema.Name+"')";
						strInit+="\r\n\t\t{";			
						strInit+="\r\n\t\t\t"+GetNombreClaseObjeto(TablaBase.ToString())+"PaginaWebInteraccion.VerificarBuscar"+GetNombreClase(TablaBase.ToString())+"s('"+indexSchema.Name+"');";
						strInit+="\r\n\t\t}";
					}				
					
					
				}
				
			}
			
				
											
			return strInit; 
		}
		
public String GetFuncionesTraerDescripcionClasesRelacionadasForeigKeys() 
		{
			String strTablaClaseRelacionada=string.Empty;
										
			foreach(ColumnSchema columnSchema in TablaBase.Columns)
			{
				if(columnSchema.IsForeignKeyMember)
				{
					strTablaClaseRelacionada+=GetFuncionTraerDescripcionClasesRelacionadasForeigKeys(GetTablaFromNombre(GetNombreClaseRelacionadaFromColumn(columnSchema)),columnSchema);
				}
			}
								
			return strTablaClaseRelacionada; 
		}
		
public String GetFuncionTraerDescripcionClasesRelacionadasForeigKeys(TableSchema tableSchema,ColumnSchema column) 
{
String strTraerFuncionTablaClaseRelacionada=string.Empty;

strTraerFuncionTablaClaseRelacionada="function traer"+GetNombreClase(tableSchema.ToString())+"Descripcion(item)\r\n"; 
strTraerFuncionTablaClaseRelacionada+="{\r\nvar description=\"\";\r\n";
  
	
	 for (int i = 0; i < tableSchema.Columns.Count; i++){ 
			strTraerFuncionTablaClaseRelacionada+=" "+GetVariablesFromXml(tableSchema.Columns[i],false,false,false); 	
 		 } 	
		
strTraerFuncionTablaClaseRelacionada+="\r\n description=id;	\r\n";

strTraerFuncionTablaClaseRelacionada+="\r\nreturn description;\r\n}\r\n\r\n";

return strTraerFuncionTablaClaseRelacionada;
}

public  string DefinirVariablesArray()
{
	String strVariablesArray="";
	
	foreach(ColumnSchema column in TablaBase.Columns)
	{
		if(column.IsForeignKeyMember)
		{
			strVariablesArray+="var arrData"+column.Name.Replace(strId,"")+"= [];\r\n";
		}	
	}
	return strVariablesArray;
}

public String GetMensajeFunctionValidationControlHtml() 
{
String strCodigo=string.Empty;
String strRetorno=string.Empty;

	foreach(ColumnSchema column in TablaBase.Columns)
	{
			if(column.AllowDBNull)
			{
			strRetorno="retorno= true;";
			}
			else
			{
			strRetorno="retorno= false;";
			}
			
			if(column.DataType==DbType.Boolean|| column.Name.Equals(strIsActive)|| column.Name.Equals(strIsExpired)|| column.Name.Equals(strId)|| column.Name.Equals(strVersionRow)||column.DataType==DbType.Binary)
			{
			strCodigo+=string.Empty;
			continue;
			}
			if(!column.IsForeignKeyMember)	
			{
				if(column.DataType==DbType.Date||column.DataType==DbType.DateTime)
				{
				strCodigo+="\r\n\tvar str"+column.Name+"="+GetFunctionValidationControlHtml(column).Replace("this","jmaki.attributes.get('"+GetNameControlHtml(column) +"').getValue()")+ ";";
				strCodigo+="\r\n\tcreateSimpleYahooDialogErrorValidacionMensajes('Validacion campo:"+ column.Name+"',str"+column.Name+");";	
				strCodigo+="\r\n\r\n\t\tif(str"+column.Name+"!=\"\")\r\n\t\t{\r\n\t\t\tretorno= false;\r\n\t\t}\r\n";
				}
				else
				{
				strCodigo+="\r\n\tvar str"+column.Name+"="+GetFunctionValidationControlHtml(column).Replace("this","document.frmMantenimiento"+GetNombreClase(TablaBase.ToString())+"."+GetNameControlHtml(column))+";";
				strCodigo+="\r\n\tcreateSimpleYahooDialogErrorValidacion('Validacion campo:"+ column.Name+"',str"+column.Name+",document.frmMantenimiento"+GetNombreClase(TablaBase.ToString())+"."+GetNameControlHtml(column)+");";	
				strCodigo+="\r\n\r\n\t\tif(str"+column.Name+"!=\"\")\r\n\t\t{\r\n\t\t\tretorno= false;\r\n\t\t}\r\n";
				}
				
			}
			else
			{
				
				strCodigo+="\r\n\tvar str"+column.Name+"=ValidarCombo(arrData"+column.Name.Replace(strId,"")+",jmaki.attributes.get('"+GetNameControlHtml(column) +"').getValue());";		
				strCodigo+="\r\n\tcreateSimpleYahooDialogErrorValidacionMensajes('Validacion campo:"+ column.Name.Replace(strId,"")+"',str"+column.Name+");";	
				strCodigo+="\r\n\r\n\t\tif(str"+column.Name+"!=\"\")\r\n\t\t{\r\n\t\t\t"+ strRetorno +";\r\n\t\t}\r\n";	
			}
	}						
			return strCodigo; 
}
		
public String GetFuncionesTraerClasesRelacionadasForeigKeys() 
		{
			String strTablaClaseRelacionada=string.Empty;
										
			foreach(ColumnSchema columnSchema in TablaBase.Columns)
			{
				if(columnSchema.IsForeignKeyMember)
				{
					strTablaClaseRelacionada+=GetFuncionTraerClasesRelacionadasForeigKeys(GetTablaFromNombre(GetNombreClaseRelacionadaFromColumn(columnSchema)),columnSchema);
				}
			}
								
			return strTablaClaseRelacionada; 
		}

public String GetFuncionTraerClasesRelacionadasForeigKeys(TableSchema tableSchema,ColumnSchema column) 
{
String strTraerFuncionTablaClaseRelacionada=string.Empty;

strTraerFuncionTablaClaseRelacionada="function traer"+GetNombreClase(tableSchema.ToString())+"s("+GetNombreClaseObjeto(tableSchema.ToString())+"XML)\r\n"; 
strTraerFuncionTablaClaseRelacionada+="{\r\n";

strTraerFuncionTablaClaseRelacionada+="var "+GetNombreClaseObjeto(tableSchema.ToString())+" = "+GetNombreClaseObjeto(tableSchema.ToString())+"XML.getElementsByTagName(\""+GetNombreClaseObjeto(tableSchema.ToString())+"\")[0];\r\n";
strTraerFuncionTablaClaseRelacionada+="var generated ="+ GetNombreClaseObjeto(tableSchema.ToString())+".getAttribute(\"generated\");\r\n";

   
strTraerFuncionTablaClaseRelacionada+="   var items ="+ GetNombreClaseObjeto(tableSchema.ToString())+".getElementsByTagName(\"item\");\r\n";
strTraerFuncionTablaClaseRelacionada+="   var arrData = [];\r\n";

strTraerFuncionTablaClaseRelacionada+="   for (var I = 0 ; I < items.length ; I++)\r\n"; 
strTraerFuncionTablaClaseRelacionada+="   {\r\n";
strTraerFuncionTablaClaseRelacionada+="	 var item = items[I];\r\n";
	
	 for (int i = 0; i < tableSchema.Columns.Count; i++){ 
			strTraerFuncionTablaClaseRelacionada+=" "+GetVariablesFromXml(tableSchema.Columns[i],false,false,false); 	
 		 } 	
		
strTraerFuncionTablaClaseRelacionada+="	arrData.push([traer"+GetNombreClase(tableSchema.ToString())+"Descripcion(item) , id]);\r\n";
strTraerFuncionTablaClaseRelacionada+="	}\r\n";

strTraerFuncionTablaClaseRelacionada+="	arrData"+column.Name.Replace(strId,"")+"=arrData;\r\n";

strTraerFuncionTablaClaseRelacionada+="	jmaki.attributes.get('"+GetNameControlHtml(column)+"').wrapper.dataProvider.setData(arrData);\r\n";
strTraerFuncionTablaClaseRelacionada+=SetDataToCombosBusquedasIndiceTabla(column); 
strTraerFuncionTablaClaseRelacionada+="\r\n}\r\n\r\n";

return strTraerFuncionTablaClaseRelacionada;
}

public TableSchema GetTablaFromNombre(String strTableNombre) 
		{
			TableSchema tableSchemaEncontrada=TablaBase;
			
			tableSchemaEncontrada=GetTablaFromNombreC(strTableNombre,TablaBase);
			
			return tableSchemaEncontrada;
		}
			
public String GetFuncionesClasesRelacionadasForeigKeys() 
		{
			String strTablaClaseRelacionada=string.Empty;
			String InitFuncion="function cargar";							
										
			foreach(ColumnSchema columnSchema in TablaBase.Columns)
			{
				if(columnSchema.IsForeignKeyMember)
				{
					strTablaClaseRelacionada+=InitFuncion+GetNombreClaseC("dbo."+GetNombreClaseRelacionadaFromColumn(columnSchema))+ "()\r\n{\r\n";
					strTablaClaseRelacionada+="var req = newXMLHttpRequest();\r\n";
					strTablaClaseRelacionada+="req.onreadystatechange = getReadyStateHandler(req, traer"+ GetNombreClaseC("dbo."+GetNombreClaseRelacionadaFromColumn(columnSchema)) +"s);\r\n";
					strTablaClaseRelacionada+="req.open(\"POST\", \""+ GetNombreClaseC("dbo."+GetNombreClaseRelacionadaFromColumn(columnSchema)) +"Servlet\", true);\r\n";
					strTablaClaseRelacionada+="req.setRequestHeader(\"Content-Type\", \"application/x-www-form-urlencoded\");\r\n";
					strTablaClaseRelacionada+="req.send(\"accionBusqueda=Todos\");\r\n}\r\n\r\n";
				}
			}
								
			return strTablaClaseRelacionada; 
		}

public String GetCallFuncionesClasesRelacionadasForeigKeys() 
		{
			String strTablaClaseRelacionada=string.Empty;
										
										
			foreach(ColumnSchema columnSchema in TablaBase.Columns)
			{
				if(columnSchema.IsForeignKeyMember)
				{
					strTablaClaseRelacionada+="cargar"+GetNombreClaseC("dbo."+GetNombreClaseRelacionadaFromColumn(columnSchema))+ "();\r\n";
				
				}
			}
								
			return strTablaClaseRelacionada; 
		}
		
public String ValoresMinimoMaximoPaginacion() 
{
			String strPAginacion="";
			strPAginacion="+\"&inicio=\"+PaginaWebInteraccion"+GetNombreClase(TablaBase.ToString())+"IntNumero"+"PaginacionPagina+\"&fin=\"+PaginaWebInteraccion"+GetNombreClase(TablaBase.ToString())+"IntNumero"+"Paginacion";
			return strPAginacion;
}

public String GetSendBusquedasIndicesTablas() 
		{
			String strFuncion=string.Empty;
			String strTablaClaseRelacionada=string.Empty;
			String strInitFuncion="";
			
			
			String strIfFuncion=string.Empty;
			strIfFuncion="else if(strTipoBusqueda==\"{0}\")\r\n{";
			
			String strFuncionBusqueda="";
			
			String strDefinicionVariables="";
			String strUsoVariables="";
			
			String strXmlFuncion=string.Empty;
			
			strXmlFuncion="\r\n\r\n\t\tLayerCommunicationBuscar"+GetNombreClaseC(TablaBase.ToString())+"sCargarTablaAjax(\"accionBusqueda=";
							
						
			foreach(IndexSchema indexSchema in TablaBase.Indexes)
			{
				if(!indexSchema.IsPrimaryKey)
				{
					strXmlFuncion="\r\n\r\n\t\t\tLayerCommunication"+GetNombreClaseC(TablaBase.ToString())+"Buscar"+GetNombreClaseC(TablaBase.ToString())+"sCargarTablaAjax(\"accionBusqueda=";
					strXmlFuncion+=indexSchema.Name+"&";
					
					if(indexSchema.IsUnique)
					{
						strFuncionBusqueda="\r\n\t\t"+GetNombreClaseObjetoC(TablaBase.ToString())+"LayerCommunication.Traer"+GetNombreClaseC(TablaBase.ToString())+indexSchema.Name+"(";
						strIfFuncion="\t\telse if(strTipoBusqueda==\""+indexSchema.Name+"\")\r\n\t\t{\r\n\t\t\tif(!FuncionesGenerales"+GetNombreClaseC(TablaBase.ToString())+"ValidarFormulario"+GetNombreClaseC(TablaBase.ToString())+indexSchema.Name+"())\r\n\t\t\t{\r\n\t\t\t\treturn;\r\n\t\t\t}";
					}
					else
					{
						if(indexSchema.Name.Contains("Busqueda"))
						{
						strFuncionBusqueda="\r\n\t\t"+GetNombreClaseObjetoC(TablaBase.ToString())+"LayerCommunication.Traer"+GetNombreClaseC(TablaBase.ToString())+indexSchema.Name+"(finalQueryPaginacion,";
						strIfFuncion="\t\telse if(strTipoBusqueda==\""+indexSchema.Name+"\")\r\n\t\t{\r\n\t\t\tif(!FuncionesGenerales"+GetNombreClaseC(TablaBase.ToString())+"ValidarFormulario"+GetNombreClaseC(TablaBase.ToString())+indexSchema.Name+"())\r\n\t\t\t{\r\n\t\t\t\treturn;\r\n\t\t\t}";
						
						}
						else
						{
						strFuncionBusqueda="\r\n\t\t"+GetNombreClaseObjetoC(TablaBase.ToString())+"LayerCommunication.Traer"+GetNombreClaseC(TablaBase.ToString())+indexSchema.Name+"(";
						strIfFuncion="\t\telse if(strTipoBusqueda==\""+indexSchema.Name+"\")\r\n\t\t{\r\n\t\t\tif(!FuncionesGenerales"+GetNombreClaseC(TablaBase.ToString())+"ValidarFormulario"+GetNombreClaseC(TablaBase.ToString())+indexSchema.Name+"())\r\n\t\t\t{\r\n\t\t\t\treturn;\r\n\t\t\t}";	
						}
					}
					
					int count=1;
					strDefinicionVariables="";
					strUsoVariables="";							
					//strFuncionBusqueda="";
							foreach(MemberColumnSchema memberColumnSchema in indexSchema.MemberColumns)
							{
																				
							strDefinicionVariables+="\r\n\t\t"+SetDocumentToVariablesBusqueda(memberColumnSchema.Column,indexSchema.Name);
							strUsoVariables+=SetDocumentToVariablesQueryString(memberColumnSchema.Column,indexSchema.Name);
							
							if(!indexSchema.MemberColumns.Count.Equals(count))
							{
							strUsoVariables+="+\"&";	
							}
							count++;
							}
							strXmlFuncion+=strUsoVariables+ValoresMinimoMaximoPaginacion()+");\r\n";
							
							strXmlFuncion+="\r\n\t\t\tPaginaWebInteraccionStrParametrosBusqueda"+GetNombreClase(TablaBase.ToString())+"=\"&"+strUsoVariables+";\r\n";
							strInitFuncion+=strIfFuncion+strDefinicionVariables+strXmlFuncion+"\r\n\t\t}\r\n";																																		
					
				}
			}								
			return  strInitFuncion;
		}
		
public String SetDataToCombosBusquedasIndiceTabla(ColumnSchema column) 
	{
			String	strDataToCombos="";		
						
			strDataToCombos=SetDataToCombosBusquedasIndiceTablaC(column,TablaBase);		
						
			return strDataToCombos;	
			
	}

public String GetFuncionesValidarFormularioBusquedasIndiceTabla() 
	{
			String	strValidarFormularios="";		
			
			String	strRetorno="";				
			
			strRetorno="retorno= false;";
			
						
			
			foreach(IndexSchema indexSchema in TablaBase.Indexes)
			{
				if(!indexSchema.IsPrimaryKey)
				{
				strValidarFormularios+="\r\n\r\nfunction ValidarFormulario"+GetNombreClase(TablaBase.ToString())+ indexSchema.Name +"()\r\n{\r\nvar retorno =true;\r\n";
				
							foreach(MemberColumnSchema memberColumnSchema in indexSchema.MemberColumns)
							{
								if(!memberColumnSchema.IsForeignKeyMember)	
								{
									if(memberColumnSchema.DataType==DbType.Date||memberColumnSchema.DataType==DbType.DateTime)
									{
									strValidarFormularios+="\r\nvar str"+memberColumnSchema.Name+"="+GetFunctionValidationControlHtml(memberColumnSchema).Replace("this","jmaki.attributes.get('"+GetNameControlHtmlBusqueda(memberColumnSchema,indexSchema.Name) +"').getValue()")+ ";";
									strValidarFormularios+="\r\ncreateSimpleYahooDialogErrorValidacionMensajes('Validacion campo:"+ memberColumnSchema.Name+"',str"+memberColumnSchema.Name+");";	
									strValidarFormularios+="\r\nif(str"+memberColumnSchema.Name+"!=\"\")\r\n{\r\nretorno= false;\r\n}";
									}
									else
									{
									strValidarFormularios+="\r\nvar str"+memberColumnSchema.Name+"="+GetFunctionValidationControlHtml(memberColumnSchema).Replace("this","document.frmBusqueda."+GetNameControlHtmlBusqueda(memberColumnSchema,indexSchema.Name))+";";
									strValidarFormularios+="\r\ncreateSimpleYahooDialogErrorValidacion('Validacion campo:"+ memberColumnSchema.Name+"',str"+memberColumnSchema.Name+",document.frmBusqueda."+GetNameControlHtmlBusqueda(memberColumnSchema,indexSchema.Name)+");";	
									strValidarFormularios+="\r\nif(str"+memberColumnSchema.Name+"!=\"\")\r\n{\r\nretorno= false;\r\n}";
									}
									
								}
								else
								{
									
									strValidarFormularios+="\r\nvar str"+memberColumnSchema.Name+"=ValidarCombo(arrData"+memberColumnSchema.Name.Replace(strId,"")+",jmaki.attributes.get('"+GetNameControlHtmlBusqueda(memberColumnSchema,indexSchema.Name) +"').getValue());";		
									strValidarFormularios+="\r\ncreateSimpleYahooDialogErrorValidacionMensajes('Validacion campo:"+ memberColumnSchema.Name.Replace(strId,"")+"',str"+memberColumnSchema.Name+");";	
									strValidarFormularios+="\r\nif(str"+memberColumnSchema.Name+"!=\"\")\r\n{\r\n"+ strRetorno +";\r\n}";	
								}
							}
					strValidarFormularios+="\r\nreturn retorno;\r\n}";
				}
				
				
			}								
			return  strValidarFormularios;
	}

public string SetDocumentToVariablesQueryStringBusquedaIndice(ColumnSchema column,String strIndice)
{
	
	return GetNameControlHtmlBusqueda(column,strIndice)+ "=\"+"+GetNombreColumnaClaseMinusculaC(column);
}

public string SetDocumentToVariablesQueryString(ColumnSchema column,String strIndexName)
{
	
	return GetNameControlHtmlBusqueda(column,strIndexName)+ "=\"+"+GetNombreColumnaClaseMinusculaC(column);
}

public string SetDocumentToVariables(ColumnSchema column)
{
	String strSet="";
	
	if(column.DataType==DbType.Boolean)
	{
	strSet="var "+GetNombreColumnaClaseMinusculaC(column)+ "=document.frmMantenimiento"+GetNombreClase(TablaBase.ToString())+"."+GetNameControlHtml(column) +".checked;";
	}
	else
	{
	strSet="var "+GetNombreColumnaClaseMinusculaC(column)+ "=document.frmMantenimiento"+GetNombreClase(TablaBase.ToString())+"."+GetNameControlHtml(column) +".value;";
	}
	
	return strSet;
}

public  string SetDocumentToVariablesBusqueda(ColumnSchema column,String strIndexName)
{
	String strSet="";
	
	if(column.DataType==DbType.Boolean)
	{
	strSet="\r\n\t\t\tvar "+GetNombreColumnaClaseMinusculaC(column)+ "=document.frmBusqueda"+GetNombreClase(TablaBase.ToString())+"."+GetNameControlHtmlBusqueda(column,strIndexName) +".checked;";
	}
	else
	{
		if(!column.IsForeignKeyMember)
		{
			if(column.DataType==DbType.Date||column.DataType==DbType.DateTime)
			{
			strSet="\r\n\t\t\tvar "+GetNombreColumnaClaseMinusculaC(column)+ "=jmaki.attributes.get('"+GetNameControlHtmlBusqueda(column,strIndexName)+"').wrapper.datePicker.getValue();"; 
		
			}
			else
			{
			strSet="\r\n\t\t\tvar "+GetNombreColumnaClaseMinusculaC(column)+ "=document.frmBusqueda"+GetNombreClase(TablaBase.ToString())+"."+GetNameControlHtmlBusqueda(column,strIndexName) +".value;";
		
			}
		}
		else
		{
			strSet="\r\n\t\t\tvar "+GetNombreColumnaClaseMinusculaC(column)+ "=getIdCombo(arrData"+GetNombreClaseRelacionadaFromColumn(column)+",jmaki.attributes.get('"+GetNameControlHtmlBusqueda(column,strIndexName)+"').wrapper.getValue());"; 
		}
	}
	
	return strSet;
}

public static string VariablesBusquedaPreguntarVacio(ColumnSchema column)
{
	String strSet="";
	
	strSet= "document.frmBusqueda."+GetNameControlHtml(column) +".value=\"\"";
	
	return strSet;
}

public  string SetDocumentVariablesActual()
{
	String strSet="";
	
	foreach(ColumnSchema column in TablaBase.Columns)
	{
		if(column.Name==strIsActive||column.Name==strIsExpired||column.DataType==DbType.Binary)
		{
		strSet+="";
		continue;
		}
		
		if(!column.IsForeignKeyMember)
		{
			if(column.DataType==DbType.Boolean)
			{
			strSet+="\r\n\tdocument.frmMantenimiento"+GetNombreClase(TablaBase.ToString())+"."+GetNameControlHtml(column) +".checked=row"+GetNombreClase(TablaBase.ToString())+"."+ GetNombreColumnaClaseJavaScriptC(column)+";";
			}
			else if(column.DataType==DbType.Date||column.DataType==DbType.DateTime)
			{
			strSet+="\r\n\tjmaki.attributes.get('"+GetNameControlHtml(column)+"').wrapper.datePicker.setDate(row"+GetNombreClase(TablaBase.ToString())+"."+GetNombreColumnaClaseJavaScriptC(column)+");"; 
			}
			else
			{
				if(!column.IsPrimaryKeyMember)
				{
					strSet+="\r\n\tdocument.frmMantenimiento"+GetNombreClase(TablaBase.ToString())+"."+GetNameControlHtml(column) +".value=row"+GetNombreClase(TablaBase.ToString())+"."+GetNombreColumnaClaseJavaScriptC(column)+";";
				}
				else
				{
					strSet+="\r\n\tdocument.frmMantenimiento"+GetNombreClase(TablaBase.ToString())+"."+GetNameControlHtml(column) +".value=row"+GetNombreClase(TablaBase.ToString())+".id"+";";
				}
			}
		}
		else
		{
			strSet+="\r\n\tjmaki.attributes.get('"+GetNameControlHtml(column)+"').wrapper.setValue(CambiarNullAVacio(row"+GetNombreClase(TablaBase.ToString())+"."+GetNombreColumnaClaseJavaScriptC(column)+"Descripcion));"; 
		}	
	}
	
	return strSet;
}

public  string SetDocumentVariablesCancelar()
{
String strSet="";

foreach(ColumnSchema column in TablaBase.Columns)
{
	if(column.Name==strIsActive||column.Name==strIsExpired||column.DataType==DbType.Binary)
	{
	continue;
	}
	
	
	if(!column.IsForeignKeyMember)	
	{		
		if(column.DataType==DbType.Boolean)
		{
		strSet+="\r\n\tdocument.frmMantenimiento"+GetNombreClase(TablaBase.ToString())+"."+GetNameControlHtml(column) +".checked=false;";
		}
		else if(column.DataType==DbType.Date||column.DataType==DbType.DateTime)
		{
		strSet+="\r\n\tjmaki.attributes.get('"+GetNameControlHtml(column) +"').wrapper.datePicker.setDate(new Date());";		
		}
		else
		{
		strSet+="\r\n\tdocument.frmMantenimiento"+GetNombreClase(TablaBase.ToString())+"."+GetNameControlHtml(column) +".value=\"\";";
		}
	}
	else
	{
	strSet+="\r\n\tjmaki.attributes.get('"+GetNameControlHtml(column) +"').wrapper.setValue(\"\");";	
	}
}	
	return strSet;
}

public string SetDocumentToVariablesEliminar()
{
	String strVariable= "";
	
	foreach(ColumnSchema column in TablaBase.Columns)
	{
		if(column.Name==strIsActive||column.Name==strIsExpired||column.Name==strVersionRow)
		{
		strVariable+="";
		continue;
		}
		else if(column.Name==strId)
		{
		strVariable+=strVariable="var "+GetNombreColumnaClaseMinusculaC(column)+ "=document.frmMantenimiento"+GetNombreClase(TablaBase.ToString())+"."+GetNameControlHtml(column) +".value;";
		}
	}
	return strVariable;
}

public string SetDocumentToVariablesNuevo()
{
String strSet="";
foreach(ColumnSchema column in TablaBase.Columns)
{
	if(column.Name==strIsActive||column.Name==strId||column.Name==strIsExpired||column.Name==strVersionRow||column.DataType==DbType.Binary)
	{
	strSet+="";
	continue;
	}
	if(!column.IsForeignKeyMember)	
	{	
		if(column.DataType==DbType.Boolean)
		{
		strSet+="\r\n\t"+GetNombreClaseObjeto(TablaBase.ToString())+"Datos."+GetNombreColumnaClaseJavaScriptC(column)+ "=document.frmMantenimiento"+GetNombreClase(TablaBase.ToString())+"."+GetNameControlHtml(column) +".checked;";
		}
		else if(column.DataType==DbType.Date||column.DataType==DbType.DateTime)
		{
		strSet+="\r\n\t"+GetNombreClaseObjeto(TablaBase.ToString())+"Datos."+GetNombreColumnaClaseJavaScriptC(column)+ "=jmaki.attributes.get('"+GetNameControlHtml(column) +"').getValue();";		
		}
		else
		{
		strSet+="\r\n\t"+GetNombreClaseObjeto(TablaBase.ToString())+"Datos."+GetNombreColumnaClaseJavaScriptC(column)+ "=document.frmMantenimiento"+GetNombreClase(TablaBase.ToString())+"."+GetNameControlHtml(column) +".value;";
		}
	}
	else
	{
	strSet+="\r\n\t"+GetNombreClaseObjeto(TablaBase.ToString())+"Datos."+GetNombreColumnaClaseJavaScriptC(column)+ "=getIdCombo(arrData"+column.Name.Replace(strId,"")+",jmaki.attributes.get('"+GetNameControlHtml(column) +"').getValue());";		
	}
}	
	return strSet;
}

public  string SetVariablesToQueryGuardar()
{
String strSet="";

foreach(ColumnSchema column in TablaBase.Columns)
{
	if(column.Name==strIsActive||column.Name==strIsExpired||column.Name==strId||(column.DataType==DbType.Binary&&column.Name!=strVersionRow))
	{
	strSet+="";
	continue;
	}
	
	strSet+="\r\n\t\t\tquery"+GetNombreClase(TablaBase.ToString())+"=query"+GetNombreClase(TablaBase.ToString())+"+";
	
	if(!column.IsForeignKeyMember)	
	{
		if(column.DataType==DbType.Boolean)
		{
			strSet+="'&"+ column.Name +GetNombreClase(TablaBase.ToString())+"'+contadorFinal+'='"+ "+arrData"+GetNombreClase(TablaBase.ToString())+"s[i]."+GetNombreColumnaClaseMinusculaC(column)+ ";";
		}
		else if(column.DataType==DbType.Date||column.DataType==DbType.DateTime)
		{
			strSet+="'&"+ column.Name +GetNombreClase(TablaBase.ToString())+"'+contadorFinal+'='"+"+arrData"+GetNombreClase(TablaBase.ToString())+"s[i]."+GetNombreColumnaClaseMinusculaC(column)+ ";";		
		}
		else
		{
			strSet+="'&"+ column.Name +GetNombreClase(TablaBase.ToString())+"'+contadorFinal+'='"+"+arrData"+GetNombreClase(TablaBase.ToString())+"s[i]."+GetNombreColumnaClaseMinusculaC(column)+ ";";
		}
	}
	else
	{
		strSet+="'&"+ column.Name +GetNombreClase(TablaBase.ToString())+"'+contadorFinal+'='"+"+arrData"+GetNombreClase(TablaBase.ToString())+"s[i]."+GetNombreColumnaClaseMinusculaC(column)+ ";";		
	}
}	
	return strSet;
}

public  string SetDocumentToVariablesActualizar()
{
String strSet="";

foreach(ColumnSchema column in TablaBase.Columns)
{
	if(column.Name==strIsActive||column.Name==strIsExpired||column.Name==strId||column.Name==strVersionRow||column.DataType==DbType.Binary)
	{
	strSet+="";
	continue;
	}
	
	if(!column.IsForeignKeyMember)	
	{
		if(column.DataType==DbType.Boolean)
		{
		strSet+="\r\n\tif(PaginaWebInteraccion"+GetNombreClase(TablaBase.ToString())+"Row"+GetNombreClase(TablaBase.ToString())+"Actual."+GetNombreColumnaClaseJavaScriptC(column)+ "!=document.frmMantenimiento"+GetNombreClase(TablaBase.ToString())+"."+GetNameControlHtml(column) +".checked)\r\n\t{";	
		strSet+="\r\n\t\tPaginaWebInteraccion"+GetNombreClase(TablaBase.ToString())+"Row"+GetNombreClase(TablaBase.ToString())+"Actual."+GetNombreColumnaClaseJavaScriptC(column)+ "=document.frmMantenimiento"+GetNombreClase(TablaBase.ToString())+"."+GetNameControlHtml(column) +".checked;";
		strSet+="\r\n\t\tPaginaWebInteraccion"+GetNombreClase(TablaBase.ToString())+"Row"+GetNombreClase(TablaBase.ToString())+"Actual.isChanged=true;\r\n\t}\r\n\t";
		}
		else if(column.DataType==DbType.Date||column.DataType==DbType.DateTime)
		{
		strSet+="\r\n\tif(PaginaWebInteraccion"+GetNombreClase(TablaBase.ToString())+"Row"+GetNombreClase(TablaBase.ToString())+"Actual."+GetNombreColumnaClaseJavaScriptC(column)+ "!=jmaki.attributes.get('"+GetNameControlHtml(column) +"').getValue())\r\n\t{\r\n\t";		
		strSet+="\r\n\t\tPaginaWebInteraccion"+GetNombreClase(TablaBase.ToString())+"Row"+GetNombreClase(TablaBase.ToString())+"Actual."+GetNombreColumnaClaseJavaScriptC(column)+ "=jmaki.attributes.get('"+GetNameControlHtml(column) +"').getValue();";		
		strSet+="\r\n\t\tPaginaWebInteraccion"+GetNombreClase(TablaBase.ToString())+"Row"+GetNombreClase(TablaBase.ToString())+"Actual.isChanged=true;\r\n\t}";
		}
		else
		{
		strSet+="\r\n\tif(PaginaWebInteraccion"+GetNombreClase(TablaBase.ToString())+"Row"+GetNombreClase(TablaBase.ToString())+"Actual."+GetNombreColumnaClaseJavaScriptC(column)+ "!=document.frmMantenimiento"+GetNombreClase(TablaBase.ToString())+"."+GetNameControlHtml(column) +".value)\r\n\t{";
		strSet+="\r\n\t\tPaginaWebInteraccion"+GetNombreClase(TablaBase.ToString())+"Row"+GetNombreClase(TablaBase.ToString())+"Actual."+GetNombreColumnaClaseJavaScriptC(column)+ "=document.frmMantenimiento"+GetNombreClase(TablaBase.ToString())+"."+GetNameControlHtml(column) +".value;";
		strSet+="\r\n\t\tPaginaWebInteraccion"+GetNombreClase(TablaBase.ToString())+"Row"+GetNombreClase(TablaBase.ToString())+"Actual.isChanged=true;\r\n\t}\r\n\t";
		}
	}
	else
	{
	strSet+="\r\n\tif(PaginaWebInteraccion"+GetNombreClase(TablaBase.ToString())+"Row"+GetNombreClase(TablaBase.ToString())+"Actual."+GetNombreColumnaClaseJavaScriptC(column)+ "!=getIdCombo(arrData"+column.Name.Replace(strId,"")+",jmaki.attributes.get('"+GetNameControlHtml(column) +"').getValue()))\r\n\t{";		
	strSet+="\r\n\t\tPaginaWebInteraccion"+GetNombreClase(TablaBase.ToString())+"Row"+GetNombreClase(TablaBase.ToString())+"Actual."+GetNombreColumnaClaseJavaScriptC(column)+ "=getIdCombo(arrData"+column.Name.Replace(strId,"")+",jmaki.attributes.get('"+GetNameControlHtml(column) +"').getValue());";		
	strSet+="\r\n\t\tPaginaWebInteraccion"+GetNombreClase(TablaBase.ToString())+"Row"+GetNombreClase(TablaBase.ToString())+"Actual.isChanged=true;\r\n\t}\r\n\t";
	}
}	
	return strSet;
}

public string SetVariablesToDocument(ColumnSchema column)
{
	
if(column.Name==strIsActive||column.Name==strIsExpired||column.Name==strVersionRow)
	{
	return "";
	}
	
	
	String strSet="";
	
	if(column.DataType==DbType.Boolean)
	{
	strSet="document.frmMantenimiento"+GetNombreClase(TablaBase.ToString())+"."+GetNameControlHtml(column) +").checked="+ GetNombreColumnaClaseMinusculaC(column);
	}
	else
	{
	strSet="document.frmMantenimiento"+GetNombreClase(TablaBase.ToString())+"."+GetNameControlHtml(column) +").value="+ GetNombreColumnaClaseMinusculaC(column);
	}
	
	return strSet;
}

public string GetNombreColumnaClaseMinusculasFiltrados(ColumnSchema column)
{
	String strColumna="";
	
if(column.Name==strIsActive||column.Name==strIsExpired)
	{
	return "";
	}
	
	if(column.Name==strId)
	{
	strColumna=GetNombreColumnaClaseMinusculaC(column)+":idNuevo"+GetNombreClase(TablaBase.ToString());
	}
	else
	{
	strColumna=GetNombreColumnaClaseMinusculaC(column)+":'null'";
	}
	
	return strColumna;
}

public static string GetNombreColumnaClaseMinusculaFiltrados(ColumnSchema column,bool conVersionRow)
{
	
	if(!conVersionRow)
	{
		if(column.Name==strId||column.Name==strIsActive||column.Name==strIsExpired||column.Name==strVersionRow)
		{
		return "";
		}
	}
	else
	{
		if(column.Name==strId||column.Name==strIsActive||column.Name==strIsExpired)
		{
		return "";
		}
	}
	return GetNombreColumnaClaseMinusculaC(column);
}

public static string SetVariablesToQueryStringNuevo(ColumnSchema column)
	{
		String strNombre;
	
	if(column.Name==strId||column.Name==strIsActive||column.Name==strIsExpired||column.Name==strVersionRow)
	{
	return "";
	}
	
		
	strNombre="\"&"+GetNameControlHtml(column) +"=\"+" +column.Name.Substring(0, column.Name.Length).ToLower();	
		
	return strNombre;
	}
	
public static string SetVariablesToQueryStringActualizar(ColumnSchema column)
	{
		String strNombre;
	
	if(column.Name==strIsActive||column.Name==strIsExpired)
	{
	return "";
	}
	
		
	strNombre="\"&"+GetNameControlHtml(column) +"=\"+" +column.Name.Substring(0, column.Name.Length).ToLower();	
		
	return strNombre;
	}
	
public static string GetVariablesFromXml(ColumnSchema column,bool conVersionRow,bool reemplazarForeigKey,bool reemplazarBooleanValue)
	{
		String strNombre= "";
		strNombre = GetVariablesFromXmlC(column,reemplazarForeigKey,reemplazarBooleanValue);
	return strNombre;
	}

public String GetIndicesTablasClasesDeepSave() 
		{
			String strInit="\r\n this.Save("+GetNombreClaseObjeto(TablaBase.ToString())+");\r\n";
						
			String strTablaClaseRelacionada2=string.Empty;
			System.Collections.Hashtable tablasRelacionadas2=GetTablasRelacionadas(TablaBase);
			
            strTablaClaseRelacionada2="\r\nif(deepLoadType.equals(DeepLoadType.NONE))\r\n{\r\n";
			
			foreach(CollectionInfo collectionInfo in tablasRelacionadas2.Values)
			{
				if(collectionInfo.CollectionRelationshipType==RelationshipType.OneToOne)
				{
					strTablaClaseRelacionada2+=GetNombreClase("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication "+GetNombreClaseObjeto("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication= new "+GetNombreClase("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication();\r\n";
					strTablaClaseRelacionada2+="\r\n"+GetNombreClaseObjeto("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication.DeepSave("+GetNombreClaseObjetoC(TablaBase.ToString())+"deep,deepLoadType,clases);\r\n";
				}
				else
				{
					//strTablaClaseRelacionada+="ArrayList<"+GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+"> TR_"+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+ "s;\r\n";
					strTablaClaseRelacionada2+="\r\nfor("+GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+ " "+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+":"+GetNombreClaseObjetoC(TablaBase.ToString())+".getTR_"+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+"s())\r\n{\r\n";
					strTablaClaseRelacionada2+=GetNombreClase("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication "+GetNombreClaseObjeto("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication= new "+GetNombreClase("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication();\r\n";
					strTablaClaseRelacionada2+=GetNombreClaseObjeto("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication.DeepSave("+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+",deep,deepLoadType,clases);"+"\r\n}\r\n";
				
				}
			}
			//strTablaClaseRelacionada2+="\r\n}\r\n";					
			//return strTablaClaseRelacionada; 
			
			
			
			String strTablaClaseRelacionada3=string.Empty;
			System.Collections.Hashtable tablasRelacionadas3=GetTablasRelacionadas(TablaBase);
			
            strTablaClaseRelacionada3="\r\nfor(Class clas:clases)\r\n{\r\nif(deepLoadType.equals(DeepLoadType.INCLUDE))\r\n{\r\n";
			
			foreach(CollectionInfo collectionInfo in tablasRelacionadas2.Values)
			{
				strTablaClaseRelacionada3+="\r\nif(clas.getName().equals("+GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+".class))\r\n{\r\n";
				
				if(collectionInfo.CollectionRelationshipType==RelationshipType.OneToOne)
				{
					strTablaClaseRelacionada3+=GetNombreClase("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication "+GetNombreClaseObjeto("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication= new "+GetNombreClase("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication();\r\n";
					strTablaClaseRelacionada3+="\r\n"+GetNombreClaseObjeto("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication.DeepSave("+GetNombreClaseObjetoC(TablaBase.ToString())+",deep,deepLoadType,clases);\r\n";
				}
				else
				{
					//strTablaClaseRelacionada+="ArrayList<"+GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+"> TR_"+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+ "s;\r\n";
					strTablaClaseRelacionada3+="\r\nfor("+GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+ " "+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+":"+GetNombreClaseObjetoC(TablaBase.ToString())+".getTR_"+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+"s())\r\n{\r\n";
					strTablaClaseRelacionada3+=GetNombreClase("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication "+GetNombreClaseObjeto("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication= new "+GetNombreClase("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication();\r\n";
					strTablaClaseRelacionada3+=GetNombreClaseObjeto("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication.DeepSave("+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+",deep,deepLoadType,clases);"+"\r\n}\r\n";
				
				}
				strTablaClaseRelacionada3+="\r\n}\r\n";
			}
			strTablaClaseRelacionada3+="\r\n}\r\n}\r\n";
			
			
			String strInitIfFuncion=string.Empty;
			String strIfFuncion=string.Empty;
			String strInitElseFuncion=string.Empty;
			String strElseFuncion=string.Empty;
			
			String strFuncion=string.Empty;
			String strTablaClaseRelacionada=string.Empty;
			String strInitFuncion=" TraerTR_";
			
			strInitIfFuncion="\r\nif(!deep)\r\n{\r\n";
			strInitElseFuncion="\r\n}\r\nelse{\r\n";
			
			
			System.Collections.Hashtable tablasRelacionadas=GetTablasRelacionadas(TablaBase);
										 			
			foreach(CollectionInfo collectionInfo in tablasRelacionadas.Values)
			{
				strInitFuncion="TraerTR_";
				
				if(collectionInfo.CollectionRelationshipType==RelationshipType.OneToOne)
				{
					//strInitFuncion=strInitFuncion;
					strTablaClaseRelacionada=GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+ "();";
				}
				else
				{
					//strInitFuncion=strInitFuncion;
					strTablaClaseRelacionada=GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+"();";
			
				}
				
			strFuncion+=GetNombreClaseObjetoC(TablaBase.ToString())+"."+strInitFuncion+	strTablaClaseRelacionada+"\r\n";
			}
			
			
			String strTablaClaseRelacionada0=string.Empty;
			System.Collections.Hashtable tablasRelacionadas0=GetTablasRelacionadas(TablaBase);
			
            strTablaClaseRelacionada0="\r\nif(deepLoadType.equals(DeepLoadType.NONE))\r\n{\r\n";
			
			foreach(CollectionInfo collectionInfo in tablasRelacionadas2.Values)
			{
				if(collectionInfo.CollectionRelationshipType==RelationshipType.OneToOne)
				{
					strTablaClaseRelacionada0+=GetNombreClase("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication "+GetNombreClaseObjeto("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication= new "+GetNombreClase("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication();\r\n";
					strTablaClaseRelacionada0+="\r\n"+GetNombreClaseObjeto("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication.Save("+GetNombreClaseObjetoC(TablaBase.ToString())+");\r\n";
				}
				else
				{
					//strTablaClaseRelacionada+="ArrayList<"+GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+"> TR_"+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+ "s;\r\n";
					strTablaClaseRelacionada0+="\r\nfor("+GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+ " "+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+":"+GetNombreClaseObjetoC(TablaBase.ToString())+".getTR_"+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+"s())\r\n{\r\n";
					strTablaClaseRelacionada0+=GetNombreClase("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication "+GetNombreClaseObjeto("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication= new "+GetNombreClase("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication();\r\n";
					strTablaClaseRelacionada0+=GetNombreClaseObjeto("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication.Save("+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+");"+"\r\n}\r\n";
				
				}
			}
			
			
			
			strIfFuncion=strInit+strInitIfFuncion+strTablaClaseRelacionada0+"\r\n}\r\n"+strInitElseFuncion+strTablaClaseRelacionada0+strTablaClaseRelacionada2+"\r\n}\r\nelse{\r\n"+strTablaClaseRelacionada3+"\r\n}\r\n}\r\n}\r\n";					
			return strIfFuncion; 
		}
		
public String GetIndicesTablasClasesDeepLoad() 
		{
			String strTablaClaseRelacionada2=string.Empty;
			System.Collections.Hashtable tablasRelacionadas2=GetTablasRelacionadas(TablaBase);
			
            strTablaClaseRelacionada2="\r\nif(deepLoadType.equals(DeepLoadType.NONE))\r\n{\r\n";
			
			foreach(CollectionInfo collectionInfo in tablasRelacionadas2.Values)
			{
				if(collectionInfo.CollectionRelationshipType==RelationshipType.OneToOne)
				{
					strTablaClaseRelacionada2+=GetNombreClase("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication "+GetNombreClaseObjeto("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication= new "+GetNombreClase("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication();\r\n";
					strTablaClaseRelacionada2+="\r\n"+GetNombreClaseObjeto("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication.DeepLoad("+GetNombreClaseObjetoC(TablaBase.ToString())+"deep,deepLoadType,clases);\r\n";
				}
				else
				{
					//strTablaClaseRelacionada+="ArrayList<"+GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+"> TR_"+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+ "s;\r\n";
					strTablaClaseRelacionada2+="\r\nfor("+GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+ " "+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+":"+GetNombreClaseObjetoC(TablaBase.ToString())+".getTR_"+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+"s())\r\n{\r\n";
					strTablaClaseRelacionada2+=GetNombreClase("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication "+GetNombreClaseObjeto("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication= new "+GetNombreClase("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication();\r\n";
					strTablaClaseRelacionada2+=GetNombreClaseObjeto("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication.DeepLoad("+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+",deep,deepLoadType,clases);"+"\r\n}\r\n";
				
				}
			}
			//strTablaClaseRelacionada2+="\r\n}\r\n";					
			//return strTablaClaseRelacionada; 
			
			
			
			String strTablaClaseRelacionada3=string.Empty;
			System.Collections.Hashtable tablasRelacionadas3=GetTablasRelacionadas(TablaBase);
			
            strTablaClaseRelacionada3="\r\nfor(Class clas:clases)\r\n{\r\nif(deepLoadType.equals(DeepLoadType.INCLUDE))\r\n{\r\n";
			
			foreach(CollectionInfo collectionInfo in tablasRelacionadas2.Values)
			{
				strTablaClaseRelacionada3+="\r\nif(clas.getName().equals("+GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+".class))\r\n{\r\n";
				
				if(collectionInfo.CollectionRelationshipType==RelationshipType.OneToOne)
				{
					strTablaClaseRelacionada3+=GetNombreClase("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication "+GetNombreClaseObjeto("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication= new "+GetNombreClase("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication();\r\n";
					strTablaClaseRelacionada3+="\r\n"+GetNombreClaseObjeto("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication.DeepLoad("+GetNombreClaseObjetoC(TablaBase.ToString())+",deep,deepLoadType,clases);\r\n";
				}
				else
				{
					//strTablaClaseRelacionada+="ArrayList<"+GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+"> TR_"+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+ "s;\r\n";
					strTablaClaseRelacionada3+="\r\nfor("+GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+ " "+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+":"+GetNombreClaseObjetoC(TablaBase.ToString())+".getTR_"+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+"s())\r\n{\r\n";
					strTablaClaseRelacionada3+=GetNombreClase("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication "+GetNombreClaseObjeto("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication= new "+GetNombreClase("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication();\r\n";
					strTablaClaseRelacionada3+=GetNombreClaseObjeto("dbo."+collectionInfo.SecondaryTable)+"LayerCommunication.DeepLoad("+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+",deep,deepLoadType,clases);"+"\r\n}\r\n";
				
				}
				strTablaClaseRelacionada3+="\r\n}\r\n";
			}
			strTablaClaseRelacionada3+="\r\n}\r\n}\r\n";
			
			
			String strInitIfFuncion=string.Empty;
			String strIfFuncion=string.Empty;
			String strInitElseFuncion=string.Empty;
			String strElseFuncion=string.Empty;
			
			String strFuncion=string.Empty;
			String strTablaClaseRelacionada=string.Empty;
			String strInitFuncion=" TraerTR_";
			
			strInitIfFuncion="\r\nif(!deep)\r\n{\r\n";
			strInitElseFuncion="\r\nelse{\r\n";
			
			
			System.Collections.Hashtable tablasRelacionadas=GetTablasRelacionadas(TablaBase);
										 			
			foreach(CollectionInfo collectionInfo in tablasRelacionadas.Values)
			{
				strInitFuncion="setTR_";
				
				if(collectionInfo.CollectionRelationshipType==RelationshipType.OneToOne)
				{
					//strInitFuncion=strInitFuncion;
					strTablaClaseRelacionada=GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+ "("+GetNombreClaseObjetoC("dbo."+TablaBase.Name)+"DataAccess.TraerTR_"+GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+"(connexion,"+GetNombreClaseObjetoC("dbo."+TablaBase.Name)+"));";
				}
				else
				{
					//strInitFuncion=strInitFuncion;
					strTablaClaseRelacionada=GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+"("+GetNombreClaseObjetoC("dbo."+TablaBase.Name)+"DataAccess.TraerTR_"+GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+"(connexion,"+GetNombreClaseObjetoC("dbo."+TablaBase.Name)+"));";
			
				}
				
			strFuncion+=GetNombreClaseObjetoC(TablaBase.ToString())+"."+strInitFuncion+	strTablaClaseRelacionada+"\r\n";
			}
			
			strIfFuncion=strInitIfFuncion+strFuncion+"\r\n}\r\n"+strInitElseFuncion+strFuncion+strTablaClaseRelacionada2+"\r\n}\r\nelse{\r\n"+strTablaClaseRelacionada3+"\r\n}\r\n}\r\n";					
			return strIfFuncion; 
		}
		
public String GetParameterSelection(ColumnSchema column,bool esUltimo) 
		{
			String strParameterSelection=String.Empty;
			strParameterSelection="\r\n\r\nParameterSelectionGeneral parameterSelectionGeneral"+column.Name+"= new ParameterSelectionGeneral();";
			strParameterSelection+="\r\nparameterSelectionGeneral"+column.Name+".setParameterSelectionGeneralEqual(ParameterType."+GetTipoColumnaClaseEnumC(column)+","+GetPrefijoTipoC(column)+GetNombreColumnaClaseC(column)+ GetTipoColumnaToString(column)+","+GetNombreClaseC(column.Table.ToString())+".getColumnName"+GetNombreCampoTablaC(column)+"(),";
			
			if(esUltimo)
			{
			strParameterSelection+="ParameterTypeOperator.NONE);";		
			}
			else
			{
			strParameterSelection+=	"ParameterTypeOperator.AND);";	
			}
			
			strParameterSelection+="\r\nqueryWhereSelectParameters.addParameter(parameterSelectionGeneral"+column.Name+");";
		
			return strParameterSelection;
		}
	
public String GetIndicesTablasClases() 
		{
			String strFuncion=string.Empty;
			String strTablaClaseRelacionada=string.Empty;
			String strInitFuncion="";
			String strBodyFuncion="";
			String strEndBodyFuncion="";
			String strEndFuncion="";
			String strParametersFuncion="";
			String strParametersNameFuncion="";
			String strParameterSelection=String.Empty;
			
			foreach(IndexSchema indexSchema in TablaBase.Indexes)
			{
				if(!indexSchema.IsPrimaryKey)
				{
					strParametersFuncion="";
					strParametersNameFuncion="";
				
					if(indexSchema.IsUnique)
					{
						strInitFuncion+="public "+GetNombreClaseC(TablaBase.ToString())+" "+"Traer"+GetNombreClaseC(TablaBase.ToString())+indexSchema.Name+"(";
						strBodyFuncion="\r\n"+GetNombreClaseObjetoC(TablaBase.ToString())+"=new "+GetNombreClaseC(TablaBase.ToString())+"();\r\ntry\r\n{";
						strBodyFuncion+="\r\nQueryWhereSelectParameters queryWhereSelectParameters=new QueryWhereSelectParameters(ParameterDbType.MYSQL,\"\");\r\n";		
						strEndBodyFuncion="\r\n"+GetNombreClaseObjetoC(TablaBase.ToString())+"="+GetNombreClaseObjetoC(TablaBase.ToString())+"DataAccess.GetEntity(connexion,queryWhereSelectParameters);";
						strEndFuncion="\r\n}\r\ncatch(Exception ex)\r\n{\r\n;\r\n}\r\nreturn "+GetNombreClaseObjetoC(TablaBase.ToString())+";\r\n}\r\n";
					}
					else
					{
						
						if(indexSchema.Name.Contains("Busqueda"))
						{
						strInitFuncion+="public "+"ArrayList<"+GetNombreClaseC(TablaBase.ToString())+"> "+"Traer"+GetNombreClaseC(TablaBase.ToString())+"s"+indexSchema.Name+"(String strFinalQuery,";
						}
						else
						{
						strInitFuncion+="public "+"ArrayList<"+GetNombreClaseC(TablaBase.ToString())+"> "+"Traer"+GetNombreClaseC(TablaBase.ToString())+"s"+indexSchema.Name+"(";
						}
						
						strBodyFuncion="\r\n"+GetNombreClaseObjetoC(TablaBase.ToString())+"s=new ArrayList<"+GetNombreClaseC(TablaBase.ToString())+">();\r\ntry\r\n{";
						
						if(indexSchema.Name.Contains("Busqueda"))
						{
						strBodyFuncion+="\r\nQueryWhereSelectParameters queryWhereSelectParameters=new QueryWhereSelectParameters(ParameterDbType.MYSQL,\"\");\r\n";		
						strBodyFuncion+="\r\nqueryWhereSelectParameters.setFinalQuery(strFinalQuery);\r\n";		
						
						}
						else
						{
						strBodyFuncion+="\r\nQueryWhereSelectParameters queryWhereSelectParameters=new QueryWhereSelectParameters(ParameterDbType.MYSQL,\"\");\r\n";		
						}
						
						strEndBodyFuncion="\r\n"+GetNombreClaseObjetoC(TablaBase.ToString())+"s="+GetNombreClaseObjetoC(TablaBase.ToString())+"DataAccess.GetEntities(connexion,queryWhereSelectParameters);";
						strEndFuncion="\r\n}\r\ncatch(Exception ex)\r\n{\r\n;\r\n}\r\nreturn "+GetNombreClaseObjetoC(TablaBase.ToString())+"s;\r\n}\r\n";
				
					}	
					int count=1;	
					strParametersFuncion="";
					strParametersNameFuncion="";	
					strParameterSelection="";
					
					foreach(MemberColumnSchema memberColumnSchema in indexSchema.MemberColumns)
					{
						
					strParametersFuncion+=GetTipoColumnaClaseC(memberColumnSchema.Column)+" "+GetPrefijoTipoC(memberColumnSchema.Column)+GetNombreColumnaClaseC(memberColumnSchema.Column); 
					strParametersNameFuncion+=GetPrefijoTipoC(memberColumnSchema.Column)+GetNombreColumnaClaseC(memberColumnSchema.Column); 
					
					if(!count.Equals(indexSchema.MemberColumns.Count))
					{
					strParameterSelection+=GetParameterSelection(memberColumnSchema.Column,false);
					}
					else
					{
					strParameterSelection+=GetParameterSelection(memberColumnSchema.Column,true);
					}
					
					if(!indexSchema.MemberColumns.Count.Equals(count))
					{
					
					strParametersFuncion+=",";
					strParametersNameFuncion+=",";	
					}
					count++;
					}
					
					strInitFuncion+=strParametersFuncion+")\r\n{"+strBodyFuncion+strParameterSelection+strEndBodyFuncion/*+strParametersNameFuncion+");"*/+strEndFuncion+"\r\n\r\n";																																			
				}
			}
			
								
			return strInitFuncion; 
		}
		
public String GetFuncionesTablasClasesRelacionadas() 
		{
			String strFuncion=string.Empty;
			String strTablaClaseRelacionada=string.Empty;
			String strInitFuncion="public  void  TraerTR_";
			
			String strEndFuncion="\r\n}\r\ncatch(Exception ex)\r\n{\r\n;\r\n}\r\n}";
			
			System.Collections.Hashtable tablasRelacionadas=GetTablasRelacionadas(TablaBase);
										 			
			foreach(CollectionInfo collectionInfo in tablasRelacionadas.Values)
			{
				if(collectionInfo.CollectionRelationshipType==RelationshipType.OneToOne)
				{
					strTablaClaseRelacionada=GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+ "()\r\n{\r\ntry\r\n{\r\n TR_"+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+"= new "+GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+"();\r\n";
					strTablaClaseRelacionada+=GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+"="+GetNombreClaseObjetoC("dbo."+TablaBase.Name)+"DataAccess.Traer"+GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+"(connexion,"+GetNombreClaseObjetoC("dbo."+TablaBase.Name)+");";
				}
				else
				{
					strTablaClaseRelacionada=GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+"()\r\n{\r\ntry\r\n{\r\n TR_"+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+ "s= new "+ "ArrayList<"+GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+">();\r\n";
					strTablaClaseRelacionada+=GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+"s="+GetNombreClaseObjetoC("dbo."+TablaBase.Name)+"DataAccess.Traer"+GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+"s(connexion,"+GetNombreClaseObjetoC("dbo."+TablaBase.Name)+");";
			
				}
				
			strFuncion+=strInitFuncion+	strTablaClaseRelacionada+strEndFuncion+"\r\n\r\n";
			}
								
			return strFuncion; 
		}
		
public String GetTablasClasesRelacionadas() 
		{
			String strTablaClaseRelacionada=string.Empty;
			System.Collections.Hashtable tablasRelacionadas=GetTablasRelacionadas(TablaBase);
										 			
			foreach(CollectionInfo collectionInfo in tablasRelacionadas.Values)
			{
				if(collectionInfo.CollectionRelationshipType==RelationshipType.OneToOne)
				{
					strTablaClaseRelacionada+=GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+ " TR_"+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+";\r\n";
				}
				else
				{
					strTablaClaseRelacionada+="ArrayList<"+GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+"> TR_"+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+ "s;\r\n";
				}
			}
								
			return strTablaClaseRelacionada; 
		}
		
public static string GetSetEntityColumna(ColumnSchema column,String table)
{				
	String strSetEntity=string.Empty;
	
	if(column.Name.Equals(strId)||column.Name.Equals(strIsActive)||column.Name.Equals(strIsExpired)||column.Name.Equals(strVersionRow))
	{
		return strSetEntity;
	}
	//usuario.setClave(strClave);
	String strEntityInit=GetNombreClaseObjetoC(table)+".set"+GetNombreCompletoColumnaClaseC(column)+"(";
	String strEntityMiddle=GetPrefijoTipoC(column)+GetNombreColumnaClaseC(column);
	String strEntityFinal=");";
   strSetEntity=strEntityInit+strEntityMiddle+strEntityFinal;
	
	return strSetEntity;
}

public string GetParametroFuncionNuevoClase(ColumnSchema column)
{		String strParamtro=string.Empty;	
		
		if(column.Name.Equals(strId)||column.Name.Equals(strIsActive)|| column.Name.Equals(strIsExpired)|| column.Name.Equals(strVersionRow))
		{
			return strParamtro;
		}
		strParamtro=GetTipoColumnaClaseC(column)+" "+GetPrefijoTipoC(column)+GetNombreColumnaClaseC(column);
		return strParamtro;
}

public string GetParametroFuncionActualizarClase(ColumnSchema column)
{		String strParamtro=string.Empty;	

		if(column.Name.Equals(strIsActive)|| column.Name.Equals(strIsExpired)|| column.Name.Equals(strVersionRow))
		{
			return strParamtro;
		}
		if(!column.Name.Equals(strId))
		{
		strParamtro=GetTipoColumnaClaseC(column)+" "+GetPrefijoTipoC(column)+GetNombreColumnaClaseC(column);		
		}
		else
		{
		strParamtro=GetTipoColumnaClaseC(column)+" "+strId;			
		}
		return strParamtro;
}

public string GetNombreClase(string strTablaBase)
{
		return GetNombreClaseC(strTablaBase);
}

public string GetNombreClaseObjeto(string strTablaBase)
{
		return GetNombreClaseObjetoC(strTablaBase);
}

public String GetEventsJavaScriptTablasClasesRelacionadas() 
		{
			String strTablaClaseRelacionada="";	
			TableSchema tablaRelacionadaObjetivo;
			System.Collections.Hashtable tablasRelacionadas=GetTablasRelacionadas(TablaBase);

			
			
			foreach(CollectionInfo collectionInfo in tablasRelacionadas.Values)
			{
				
				
				
				if(collectionInfo.CollectionRelationshipType==RelationshipType.OneToOne)
				{
					tablaRelacionadaObjetivo=collectionInfo.SecondaryTableSchema;
				}	
				else if(collectionInfo.CollectionRelationshipType==RelationshipType.ManyToMany)
				{
					
					tablaRelacionadaObjetivo=collectionInfo.JunctionTableSchema;
				}
				else
				{
					continue;
				}
				
				if(!VerificarTablaRelacionFromPropertiesC(tablaRelacionadaObjetivo))
				{
					continue;
				}
				
				strTablaClaseRelacionada+="\r\n\telse if(args.widgetId=='djtbl"+GetNombreClase(tablaRelacionadaObjetivo.ToString())+"')";
				strTablaClaseRelacionada+="\r\n\t{";
				strTablaClaseRelacionada+="\r\n\t\tif("+GetNombreClaseObjeto(tablaRelacionadaObjetivo.ToString())+"PaginaWebInteraccion.BitEstaEnModoEdicion==true)";
				strTablaClaseRelacionada+="\r\n\t\t{";
				strTablaClaseRelacionada+="\r\n\t\t\t"+GetNombreClaseObjeto(tablaRelacionadaObjetivo.ToString())+"PaginaWebInteraccion.Seleccionar"+GetNombreClase(tablaRelacionadaObjetivo.ToString())+"(args.value);";	
				strTablaClaseRelacionada+="\r\n\t\t\t"+GetNombreClaseObjeto(tablaRelacionadaObjetivo.ToString())+"PaginaWebInteraccion.BitEstaEnModoEdicion=false;";
				strTablaClaseRelacionada+="\r\n\t\t}";	
				strTablaClaseRelacionada+="\r\n\t}";	
			}
			
			return strTablaClaseRelacionada; 
		}
		

public String GetEventsJavaScriptBotonesClasesRelacionadas() 
		{
			String strTablaClaseRelacionada="";	
			System.Collections.Hashtable tablasRelacionadas=GetTablasRelacionadas(TablaBase);
			TableSchema tablaRelacionadaObjetivo;
			
			
			foreach(CollectionInfo collectionInfo in tablasRelacionadas.Values)
			{
				
							
				
				if(collectionInfo.CollectionRelationshipType==RelationshipType.OneToOne)
				{
					tablaRelacionadaObjetivo=collectionInfo.SecondaryTableSchema;
				}	
				else if(collectionInfo.CollectionRelationshipType==RelationshipType.ManyToMany)
				{
					
					tablaRelacionadaObjetivo=collectionInfo.JunctionTableSchema;
				}
				else
				{
					continue;
				}
				
				if(!VerificarTablaRelacionFromPropertiesC(tablaRelacionadaObjetivo))
				{
					continue;
				}	
				
				if(collectionInfo.CollectionRelationshipType==RelationshipType.ManyToMany)
				{
					strTablaClaseRelacionada+="\r\n\t\telse if(args.widgetId=='btndjdjtRecargarInformacion"+GetNombreClase(tablaRelacionadaObjetivo.ToString())+"')";
					strTablaClaseRelacionada+="\r\n\t\t{";
					strTablaClaseRelacionada+="\r\n\t\t\t"+GetNombreClaseObjeto(TablaBase.ToString())+"PaginaWebInteraccionRelacion.Buscar"+GetNombreClase(tablaRelacionadaObjetivo.ToString())+"sRelaciones("+GetNombreClaseObjeto(TablaBase.ToString())+"PaginaWebInteraccionRelacion.Row"+GetNombreClase(TablaBase.ToString())+"ActualRelaciones.id);";
					strTablaClaseRelacionada+="\r\n\t\t}";
					
					strTablaClaseRelacionada+="\r\n\t\telse if(args.widgetId=='btndjdjtAnteriores"+GetNombreClase(tablaRelacionadaObjetivo.ToString())+"')";
					strTablaClaseRelacionada+="\r\n\t\t{";
					strTablaClaseRelacionada+="\r\n\t\t\t"+GetNombreClaseObjeto(tablaRelacionadaObjetivo.ToString())+"PaginaWebInteraccion.Anteriores"+GetNombreClase(tablaRelacionadaObjetivo.ToString())+"s();";
					strTablaClaseRelacionada+="\r\n\t\t}";
					strTablaClaseRelacionada+="\r\n\t\telse if(args.widgetId=='btndjdjtSiguientes"+GetNombreClase(tablaRelacionadaObjetivo.ToString())+"')";
					strTablaClaseRelacionada+="\r\n\t\t{";
					strTablaClaseRelacionada+="\r\n\t\t\t"+GetNombreClaseObjeto(tablaRelacionadaObjetivo.ToString())+"PaginaWebInteraccion.Siguientes"+GetNombreClase(tablaRelacionadaObjetivo.ToString())+"s();";
					strTablaClaseRelacionada+="\r\n\t\t}";
				
				}
				
				
				strTablaClaseRelacionada+="\r\n\t\telse if(args.widgetId=='btndjdjtNuevo"+GetNombreClase(collectionInfo.SecondaryTableSchema.ToString())+"')";
				strTablaClaseRelacionada+="\r\n\t\t{";
				strTablaClaseRelacionada+="\r\n\t\t\t"+GetNombreClaseObjeto(collectionInfo.SecondaryTableSchema.ToString())+"PaginaWebInteraccion.Nuevo"+GetNombreClase(collectionInfo.SecondaryTableSchema.ToString())+"Preparar();";
				strTablaClaseRelacionada+="\r\n\t\t}";
				strTablaClaseRelacionada+="\r\n\t\telse if(args.widgetId=='btndjdjtActualizar"+GetNombreClase(collectionInfo.SecondaryTableSchema.ToString())+"')";
				strTablaClaseRelacionada+="\r\n\t\t{";
				strTablaClaseRelacionada+="\r\n\t\t\t"+GetNombreClaseObjeto(collectionInfo.SecondaryTableSchema.ToString())+"PaginaWebInteraccion.Actualizar"+GetNombreClase(collectionInfo.SecondaryTableSchema.ToString())+"Decidir();";
				strTablaClaseRelacionada+="\r\n\t\t}";
				strTablaClaseRelacionada+="\r\n\t\telse if(args.widgetId=='btndjdjtEliminar"+GetNombreClase(collectionInfo.SecondaryTableSchema.ToString())+"')";
				strTablaClaseRelacionada+="\r\n\t\t{";
				strTablaClaseRelacionada+="\r\n\t\t\t"+GetNombreClaseObjeto(collectionInfo.SecondaryTableSchema.ToString())+"PaginaWebInteraccion.CreateSimpleYahooDialogEliminacion"+GetNombreClase(collectionInfo.SecondaryTableSchema.ToString())+"();";
				strTablaClaseRelacionada+="\r\n\t\t}";
				strTablaClaseRelacionada+="\r\n\t\telse if(args.widgetId=='btndjdjtCancelar"+GetNombreClase(collectionInfo.SecondaryTableSchema.ToString())+"')";
				strTablaClaseRelacionada+="\r\n\t\t{";
				strTablaClaseRelacionada+="\r\n\t\t\t"+GetNombreClaseObjeto(collectionInfo.SecondaryTableSchema.ToString())+"PaginaWebInteraccion.CancelarControles();";
				strTablaClaseRelacionada+="\r\n\t\t}";
			}
			
			return strTablaClaseRelacionada; 
		}
		
public String GetEventsButtonsBusquedasIndicesTablasClasesRelacionadas() 
		{	
		
			String strTablaClaseRelacionada="";	
			TableSchema tablaRelacionadaObjetivo;
			System.Collections.Hashtable tablasRelacionadas=GetTablasRelacionadas(TablaBase);

			
			
			foreach(CollectionInfo collectionInfo in tablasRelacionadas.Values)
			{
				
								
				
				if(collectionInfo.CollectionRelationshipType==RelationshipType.OneToOne)
				{
					tablaRelacionadaObjetivo=collectionInfo.SecondaryTableSchema;
				}	
				else if(collectionInfo.CollectionRelationshipType==RelationshipType.ManyToMany)
				{
					
					tablaRelacionadaObjetivo=collectionInfo.JunctionTableSchema;
				}
				else
				{
					continue;
				}
				
				if(!VerificarTablaRelacionFromPropertiesC(tablaRelacionadaObjetivo))
				{
					continue;
				}
				
				if(collectionInfo.CollectionRelationshipType==RelationshipType.ManyToMany)
				{
						
					foreach(IndexSchema indexSchema in tablaRelacionadaObjetivo.Indexes)
					{
					
						if(!indexSchema.IsPrimaryKey)
						{
							
							if(indexSchema.IsUnique)
							{
								continue;
							}
							else
							{
								strTablaClaseRelacionada+="\r\n\t\telse if(args.widgetId=='btndjdjtBuscar"+GetNombreClase(collectionInfo.SecondaryTableSchema.ToString())+indexSchema.Name+"')";
								strTablaClaseRelacionada+="\r\n\t\t{";			
								strTablaClaseRelacionada+="\r\n\t\t\t"+GetNombreClaseObjeto(tablaRelacionadaObjetivo.ToString())+"PaginaWebInteraccion.VerificarBuscar"+GetNombreClase(tablaRelacionadaObjetivo.ToString())+"s('"+strClaseAuxiliar+GetNombreClase(tablaRelacionadaObjetivo.ToString())+indexSchema.Name+"');";
								strTablaClaseRelacionada+="\r\n\t\t}";
							}				
							
							
						}
						
					}
				}
				
				
			}
			
			return strTablaClaseRelacionada; 
											
			
		}
</script>
/*Empresa:<%=Empresa%>
 *Programador: <%=NombreProgramador%>
 *Descripcion: Clase que contiene todos los Accesos a BDD de tabla <%=TablaBase.ToString().Split('.')[1]%>
 * Fecha Creacion: <%= DateTime.Now.ToLongDateString() %>
 **CAMBIOS***** 
 * Motivo Cambio:
 * Nombre Programador:
 * Fecha Cambio:
 **************
 */

/* Evento seleccion registro de tabla principal*/

jmaki.subscribe("/yahoo/dataTable/onSelect", manejarSeleccionRow<%=GetNombreClase(TablaBase.ToString())%>Relacion);
						 
function manejarSeleccionRow<%=GetNombreClase(TablaBase.ToString())%>Relacion(args) 
{	
	if(args.widgetId=='djtbl<%=GetNombreClase(TablaBase.ToString())%>')
	{
		if(<%=GetNombreClaseObjeto(TablaBase.ToString())%>PaginaWebInteraccion.BitEstaEnModoEdicion==true)
		{
			<%=GetNombreClaseObjeto(TablaBase.ToString())%>PaginaWebInteraccionRelacion.Seleccionar<%=GetNombreClaseC(TablaBase.ToString())%>RelacionesVerificar(args.value)
			<%=GetNombreClaseObjeto(TablaBase.ToString())%>PaginaWebInteraccion.BitEstaEnModoEdicion=false;
		}		
	}
	<%=GetEventsJavaScriptTablasClasesRelacionadas()%>
	
}	

/* Eventos botones pagina*/

jmaki.subscribe("/dojo/dijit/button/onClick", manejarBoton<%=GetNombreClase(TablaBase.ToString())%>Relacion);
	 
	function manejarBoton<%=GetNombreClase(TablaBase.ToString())%>Relacion(args) 
	{
		if(args.widgetId=='btndjdjtRecargarInformacion<%=GetNombreClase(TablaBase.ToString())%>')
		{
			<%=GetNombreClaseObjeto(TablaBase.ToString())%>PaginaWebInteraccion.VerificarBuscar<%=GetNombreClase(TablaBase.ToString())%>s("Todos");
		}
		else if(args.widgetId=='btndjdjtAnteriores<%=GetNombreClase(TablaBase.ToString())%>')
		{
			<%=GetNombreClaseObjeto(TablaBase.ToString())%>PaginaWebInteraccion.Anteriores<%=GetNombreClase(TablaBase.ToString())%>s();
		}
		else if(args.widgetId=='btndjdjtSiguientes<%=GetNombreClase(TablaBase.ToString())%>')
		{
			<%=GetNombreClaseObjeto(TablaBase.ToString())%>PaginaWebInteraccion.Siguientes<%=GetNombreClase(TablaBase.ToString())%>s();
		}
		else if(args.widgetId=='btndjdjtNuevo<%=GetNombreClase(TablaBase.ToString())%>Relaciones')
		{
			<%=GetNombreClaseObjeto(TablaBase.ToString())%>PaginaWebInteraccionRelacion.Nuevo<%=GetNombreClase(TablaBase.ToString())%>PrepararRelaciones();
		}
		else if(args.widgetId=='btndjdjtActualizar<%=GetNombreClase(TablaBase.ToString())%>Relaciones')
		{
			<%=GetNombreClaseObjeto(TablaBase.ToString())%>PaginaWebInteraccionRelacion.Actualizar<%=GetNombreClase(TablaBase.ToString())%>DecidirRelaciones();
		}
		else if(args.widgetId=='btndjdjtEliminar<%=GetNombreClase(TablaBase.ToString())%>Relaciones')
		{
			<%=GetNombreClaseObjeto(TablaBase.ToString())%>PaginaWebInteraccionRelacion.CreateSimpleYahooDialogEliminacion<%=GetNombreClase(TablaBase.ToString())%>Relaciones();
		}
		else if(args.widgetId=='btndjdjtCancelar<%=GetNombreClase(TablaBase.ToString())%>Relaciones')
		{
			<%=GetNombreClaseObjeto(TablaBase.ToString())%>PaginaWebInteraccionRelacion.CancelarControlesRelaciones();
		}
		else if(args.widgetId=='btndjdjtGuardarCambios<%=GetNombreClase(TablaBase.ToString())%>Relaciones')
		{			
			<%=GetNombreClaseObjeto(TablaBase.ToString())%>PaginaWebInteraccionRelacion.Guardar<%=GetNombreClase(TablaBase.ToString())%>Relaciones();
		}
		/* Eventos botones Busquedas pagina*/
		<%=GetEventsButtonsBusquedasIndicesTablasClases() %>
		
		<%=GetEventsButtonsBusquedasIndicesTablasClasesRelacionadas() %>
		
		<%=GetEventsJavaScriptBotonesClasesRelacionadas() %>
		
		
	}
