<%@ Template Language="C#" TargetLanguage="C#" Description="Template de la capa de Acceso a Datos" ResponseEncoding="ASCII"%>    	
<%@ CodeTemplate Src="..\..\CommonCode\CommonCode.cs" Inherits="Me.CommonCode" Language="C#" TargetLanguage="C#" Description="A base class for the entities." ResponseEncoding="ASCII"%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Property Name="NombreProgramador" Type="System.String" Default="Byron Chavez" Category="Options" Description="Nombre del Programdor" %>
<%@ Property Name="Package" Type="System.String" Default="Indefinido" Category="Options" Description="Nombre de la Entidad" %>
<%@ Property Name="TablasBaseCompuestoJunction" Type="TableSchema" Category="Context"%>
<%@ Property Name="TablasBaseCompuestoDetalle" Type="TableSchema" 	Category="Context"%>
<%@ Property Name="Empresa" Type="System.String" Default="ByDan" Category="Options" Description="Nombre de la Empresa" %>


<script runat="template">

public string GetNombreClase(string strTablaBase)
{
		return GetNombreClaseC(strTablaBase);
}

public string GetNombreClaseObjeto(string strTablaBase)
{
		return GetNombreClaseObjetoC(strTablaBase);
}
</script>
/*Empresa: <%=Empresa%>
 *Programador: <%=NombreProgramador%>
 *Descripcion: Clase que contiene la definicion de variable entidad de tabla <%=TablasBaseCompuestoJunction.ToString().Split('.')[1]%>
 * Fecha Creacion: <%= DateTime.Now.ToLongDateString() %>
 **CAMBIOS***** 
 * Motivo Cambio:
 * Nombre Programador:
 * Fecha Cambio:
 **************
 */

var <%=GetNombreClaseC(TablasBaseCompuestoJunction.ToString())%><%=GetNombreClaseC(TablasBaseCompuestoDetalle.ToString())%><%=strClaseAuxiliar%>=function(<%=GetNombreClaseObjetoC(TablasBaseCompuestoJunction.ToString())%>,<%=GetNombreClaseObjetoC(TablasBaseCompuestoDetalle.ToString())%>) 
{
	this.<%=GetNombreClaseObjetoC(TablasBaseCompuestoJunction.ToString())%>=<%=GetNombreClaseObjetoC(TablasBaseCompuestoJunction.ToString())%>;
	this.<%=GetNombreClaseObjetoC(TablasBaseCompuestoDetalle.ToString())%>=<%=GetNombreClaseObjetoC(TablasBaseCompuestoDetalle.ToString())%>;	
}
