<%@ Template Language="C#" TargetLanguage="C#" Description="Template de la capa de Acceso a Datos" ResponseEncoding="ASCII"%>    	
<%@ CodeTemplate Src="..\CommonCode\CommonCode.cs" Inherits="Me.CommonCode" Language="C#" TargetLanguage="C#" Description="A base class for the entities." ResponseEncoding="ASCII"%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Property Name="NombreProgramador" Type="System.String" Default="Byron Chavez" Category="Options" Description="Nombre del Programdor" %>
<%@ Property Name="Package" Type="System.String" Default="Indefinido" Category="Options" Description="Nombre de la Entidad" %>
<%@ Property Name="TablaBaseMaster" Type="SchemaExplorer.TableSchema" EXCLUDED="true"	Category="Context"%>
<%@ Property Name="TablaBase" Type="SchemaExplorer.TableSchema" EXCLUDED="true"	Category="Context"%>
<%@ Property Name="TablaBaseRelacionado" Type="SchemaExplorer.TableSchema" EXCLUDED="true"	Category="Context"%>
<%@ Property Name="Empresa" Type="System.String" Default="Byron Chavez" Category="Options" Description="Nombre de la Empresa" %>
<%@ Property Name="Schema" Type="System.String" Default="Tame" Category="Options" Description="Schema" %>

<script runat="template">

public String GetNombreTabla() 
		{
			String strNombreTabla=string.Empty;
										 			
			strNombreTabla=GetNombreTableFromProperties(TablaBase);
								
			return strNombreTabla; 
		}
		
public String GetNombreTabla(TableSchema tablaBase) 
		{
			String strNombreTabla=string.Empty;
										 			
			strNombreTabla=GetNombreTableFromProperties(tablaBase);
								
			return strNombreTabla; 
		}
		
public String GetTablasClasesRelacionadasForeigKeys() 
		{
			String strTablaClaseRelacionada=string.Empty;
										 			
			foreach(ColumnSchema columnSchema in TablaBase.Columns)
			{
					
				if(columnSchema.IsForeignKeyMember)
				{
					if(ExisteTablaEnTablasRelacionadasC(TablaBase,GetNombreClaseRelacionadaFromColumn(columnSchema)))
					{
					continue;
					}
					strTablaClaseRelacionada+="\r\n\t"+GetNombreClaseC("dbo."+GetNombreClaseRelacionadaFromColumn(columnSchema))+" "+GetPrefijoRelacionC()+GetNombreClaseObjetoC("dbo."+GetNombreClaseRelacionadaFromColumn(columnSchema))+";";
				
				}
			}
								
			return strTablaClaseRelacionada; 
		}
		
public String GetFuncionesTablasClasesRelacionadasForeigKeys() 
		{
			String strFuncion=string.Empty;
			String strTablaClaseRelacionada=string.Empty;
			String strInitFuncion="\r\n\tpublic  void  set"+GetPrefijoRelacionC();
			
			String strEndFuncion="\r\n\t\t}\r\n\t\tcatch(Exception ex)\r\n\t\t{\r\n\t\t\t;\r\n\t\t}\r\n\t}";
			
			System.Collections.Hashtable tablasRelacionadas=GetTablasRelacionadas(TablaBase);
										 			
			foreach(ColumnSchema columnSchema in TablaBase.Columns)
			{
				
				if(columnSchema.IsForeignKeyMember)
				{
					if(ExisteTablaEnTablasRelacionadasC(TablaBase,GetNombreClaseRelacionadaFromColumn(columnSchema)))
					{
					continue;
					}
					
					strTablaClaseRelacionada=GetNombreClaseC("dbo."+GetNombreClaseRelacionadaFromColumn(columnSchema))+ "("+GetNombreClaseC("dbo."+GetNombreClaseRelacionadaFromColumn(columnSchema))+" "+GetNombreClaseObjetoC("dbo."+GetNombreClaseRelacionadaFromColumn(columnSchema))+")\r\n\t{\r\n\t\ttry\r\n\t\t{\r\n";
					strTablaClaseRelacionada+="\t\t\t"+GetPrefijoRelacionC()+GetNombreClaseObjetoC("dbo."+GetNombreClaseRelacionadaFromColumn(columnSchema))+"="+GetNombreClaseObjetoC("dbo."+GetNombreClaseRelacionadaFromColumn(columnSchema))+";";
					strFuncion+=strInitFuncion+	strTablaClaseRelacionada+strEndFuncion+"\r\n\r\n";
			
				}
				
			}
								
			return strFuncion; 
		}

public String GetFuncionesGetTablasClasesRelacionadasForeigKeys() 
		{
			String strFuncion="";
			String strTablaClaseRelacionada=string.Empty;
			String strInitFuncion="\tpublic ";// void  getTR_";
			
			String strEndFuncion="\t}";
			
			System.Collections.Hashtable tablasRelacionadas=GetTablasRelacionadas(TablaBase);
										 			
			foreach(ColumnSchema columnSchema in TablaBase.Columns)
			{
				
				
				if(columnSchema.IsForeignKeyMember)
				{
					if(ExisteTablaEnTablasRelacionadasC(TablaBase,GetNombreClaseRelacionadaFromColumn(columnSchema)))
					{
					continue;
					}
					
						strInitFuncion="\r\n\tpublic ";
					
					
						strInitFuncion+=GetNombreClaseC("dbo."+GetNombreClaseRelacionadaFromColumn(columnSchema))+" get"+GetPrefijoRelacionC()+GetNombreClase("dbo."+GetNombreClaseRelacionadaFromColumn(columnSchema))+"()\r\n\t{\r\n";
						strTablaClaseRelacionada="\t\treturn "+GetPrefijoRelacionC()+GetNombreClaseObjetoC("dbo."+GetNombreClaseRelacionadaFromColumn(columnSchema))+";\r\n";
					
			    		strFuncion+=strInitFuncion+	strTablaClaseRelacionada+strEndFuncion+"\r\n";
				}
			}
								
			return strFuncion; 
		}

public String GetFuncionesGetTablasClasesRelacionadas() 
		{
			String strFuncion=string.Empty;
			String strTablaClaseRelacionada=string.Empty;
			String strInitFuncion="public ";// void  getTR_";
			
			String strEndFuncion="\t}";
			
			System.Collections.Hashtable tablasRelacionadas=GetTablasRelacionadas(TablaBase);
										 			
			foreach(CollectionInfo collectionInfo in tablasRelacionadas.Values)
			{
				strInitFuncion="\r\n\tpublic ";
				
				if(collectionInfo.CollectionRelationshipType==RelationshipType.OneToOne)
				{
					strInitFuncion+=GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+" get"+GetPrefijoRelacionC()+GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+"()\r\n\t{";
					strTablaClaseRelacionada="\r\n\t\treturn "+GetPrefijoRelacionC()+GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+";\r\n";
				}
				else
				{
					strInitFuncion+="ArrayList<"+GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+"> get"+GetPrefijoRelacionC()+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+"s()\r\n\t{";
					strTablaClaseRelacionada="\r\n\t\treturn "+GetPrefijoRelacionC()+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+ "s;\r\n";
				}
				
			strFuncion+=strInitFuncion+	strTablaClaseRelacionada+strEndFuncion+"\r\n";
			}
								
			return strFuncion; 
		}
		
public String GetFuncionesTablasClasesRelacionadas() 
		{
			String strFuncion=string.Empty;
			String strTablaClaseRelacionada=string.Empty;
			String strInitFuncion="\r\n\tpublic  void  set"+GetPrefijoRelacionC();
			
			String strEndFuncion="\r\n\t\t}\r\n\t\tcatch(Exception ex)\r\n\t\t{\r\n\t\t\t;\r\n\t\t}\r\n\t}";
			
			System.Collections.Hashtable tablasRelacionadas=GetTablasRelacionadas(TablaBase);
										 			
			foreach(CollectionInfo collectionInfo in tablasRelacionadas.Values)
			{
				if(collectionInfo.CollectionRelationshipType==RelationshipType.OneToOne)
				{
					strTablaClaseRelacionada=GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+ "("+GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+" "+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+")\r\n\t{\r\n\ttry\r\n{\r\n";
					strTablaClaseRelacionada+="\t\t\tthis."+GetPrefijoRelacionC()+GetNombreClase("dbo."+collectionInfo.SecondaryTable)+"="+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+";";
				}
				else
				{
					strTablaClaseRelacionada=GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+"("+"ArrayList<"+GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+">"+" "+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+"s)\r\n\t{\r\n\t\ttry\r\n\t\t{\r\n";
					strTablaClaseRelacionada+="\t\t\tthis."+GetPrefijoRelacionC()+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+"s="+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+"s;";
			
				}
				
			strFuncion+=strInitFuncion+	strTablaClaseRelacionada+strEndFuncion+"\r\n";
			}
								
			return strFuncion; 
		}
		
public String GetTablasClasesRelacionadas() 
		{
			String strTablaClaseRelacionada=string.Empty;
			System.Collections.Hashtable tablasRelacionadas=GetTablasRelacionadas(TablaBase);
										 			
			foreach(CollectionInfo collectionInfo in tablasRelacionadas.Values)
			{
				if(collectionInfo.CollectionRelationshipType==RelationshipType.OneToOne)
				{
					strTablaClaseRelacionada+="\r\n\t"+GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+ " "+GetPrefijoRelacionC()+GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+";";
				}
				else
				{
					strTablaClaseRelacionada+="\r\n\tArrayList<"+GetNombreClaseC("dbo."+collectionInfo.SecondaryTable)+"> "+GetPrefijoRelacionC()+GetNombreClaseObjetoC("dbo."+collectionInfo.SecondaryTable)+ "s;";
				}
			}
								
			return strTablaClaseRelacionada; 
		}
		
public string GetValueDefaultParameterClase(ColumnSchema column,bool esAuxiliar)
{
	
	if(/*column.Name==strId||*/column.Name==strIsActive||column.Name==strIsExpired||column.Name==strVersionRow)
	{
		return"";
	}
	string strPrefijo=String.Empty;
	string strValor=String.Empty;
	
	string strPrefijoTabla=GetPrefijoTablaC();
	string strPrefijoTipo =GetPrefijoTipoC(column);

	
	if(!esAuxiliar)
	{
		strPrefijo=strPrefijoTabla+strPrefijoTipo;
	}
	else
	{
		strPrefijo=strPrefijoTabla+GetNombreClase(column.Table.ToString())+strPrefijoTipo;
	}
	
	switch(column.Name)
	{
		case strIsActive:
		strValor="";
		break;
		
		case strIsExpired:
		strValor="";
		break;
		
		case strVersionRow:
		strValor="";
		break;
		
		default:
		strValor=GetDefaultValueColumna(column);
		break;
	}
	
	
	
	string strNombre = GetNombreColumnaClaseC(column);
	strPrefijo+=strNombre;

			
	return strPrefijo+"="+strValor+";";
}

public string GetParameterNoLastIndex(TableSchema table)
{		
	string strNombre =String.Empty; 
	int count=0;	
		
    for (int i = 0; i < table.Columns.Count; i++){ 	
    strNombre=table.Columns[i].Name;
	switch (strNombre)
	{
		case strVersionRow:
		{
			break;
		}
		
		default:
		{
			count++;
			break;
		}

	}
		 } 
		
	return count.ToString();
}

public string GetParameterLastIndex(TableSchema table)
{		
	string strNombre =String.Empty; 
	int count=0;	
		
    for (int i = 0; i < table.Columns.Count; i++){ 	
   
			count++;
			

		 } 
		
	return count.ToString();
}

public string GetParameterClase(ColumnSchema column,bool esAuxiliar)
{
	
	if(/*column.Name==strId||*/column.Name==strIsActive||column.Name==strIsExpired||column.Name==strVersionRow)
	{
		return"";
	}
	
	string strPrefijo=String.Empty;
	string strPrefijoTabla=GetPrefijoTablaC();
	string strPrefijoTipo =GetPrefijoTipoC(column);

	if(!esAuxiliar)
	{
		strPrefijo=strPrefijoTabla+strPrefijoTipo;
	}
	else
	{
		strPrefijo=strPrefijoTabla+GetNombreClase(column.Table.ToString())+strPrefijoTipo;
	}
	
	string strNombre = GetNombreColumnaClaseC(column);
	strPrefijo+=strNombre;
		
	string param =  GetTipoColumnaClaseC(column);
	
	return param+" "+strPrefijo+";";
}

public string GetNombreCampoTabla(ColumnSchema column,bool esAuxiliar)
{
	string strPrefijo =""; 
	
	if(!esAuxiliar)
	{
		strPrefijo ="\r\n\tpublic static String getColumnName"+column.Name+"()";
	}
	else
	{
		strPrefijo ="\r\n\tpublic static String getColumnName"+GetNombreClase(column.Table.ToString())+column.Name+"()";
	}
	
	
	strPrefijo += "\r\n\t{\r\n\t\treturn \""+ column.Name+"\";\r\n\t}";
	
	switch (column.Name)
	{
		case strVersionRow:
		{
			strPrefijo=String.Empty;
			break;
		}	
		case strIsExpired:
		{
			strPrefijo=String.Empty;
			break;
		}	
		case strIsActive:
		{
			strPrefijo=String.Empty;
			break;
		}
		/*
		case strId:
		{
			strPrefijo=String.Empty;
			break;
		}
		*/
	}
	
	return strPrefijo;
}

public string GetParameterClaseMethod(ColumnSchema column,bool esAuxiliar)
{
	if(/*column.Name==strId||*/column.Name==strIsActive||column.Name==strIsExpired||column.Name==strVersionRow)
	{
		return"";
	}
	string strPrefijo=String.Empty;
	string strPrefijoTabla=GetPrefijoTablaC();
	string strPrefijoFuncion="\r\n\tpublic ";
	string strPrefijoTipo = GetPrefijoTipoC(column);

	strPrefijo=strPrefijoFuncion;	
	string strNombre = GetNombreColumnaClaseC(column);		
	string param =  GetTipoColumnaClaseC(column);
		
	
	
	if(!esAuxiliar)
	{
		strPrefijo+=param+" get"+strPrefijoTabla+strPrefijoTipo+strNombre+"()\r\n\t{";
		strPrefijo+="\r\n\t\treturn "+strPrefijoTabla+strPrefijoTipo+strNombre+";\r\n\t}";
	}
	else
	{
		strPrefijo+=param+" get"+strPrefijoTabla+GetNombreClase(column.Table.ToString())+strPrefijoTipo+strNombre+"()\r\n\t{";
		strPrefijo+="\r\n\t\treturn "+strPrefijoTabla+GetNombreClase(column.Table.ToString())+strPrefijoTipo+strNombre+";\r\n\t}";
	}
	
	
	return strPrefijo;
}

public string GetParameterClaseSetMethod(ColumnSchema column,bool esAuxiliar)
{
	if(/*column.Name==strId||*/column.Name==strIsActive||column.Name==strIsExpired||column.Name==strVersionRow)
	{
		return"";
	}
	string strPrefijo=String.Empty;
	string strPrefijoTabla=GetPrefijoTablaC();
	string strPrefijoFuncion="\r\n\tpublic void set";
	string strPrefijoTipo = GetPrefijoTipoC(column);
	
	strPrefijo=strPrefijoFuncion;
	
	string strNombre = GetNombreColumnaClaseC(column);
		
	string param =  GetTipoColumnaClaseC(column);
	
	if(column.AllowDBNull)
	{
		
		if(!esAuxiliar)
		{
			strPrefijo+=strPrefijoTabla+strPrefijoTipo+strNombre+"("+param+ " new"+strPrefijoTabla+strPrefijoTipo+strNombre +")\r\n\t{";
			strPrefijo+="\r\n\t\tif(this."+strPrefijoTabla+strPrefijoTipo+strNombre+"!="+"new"+strPrefijoTabla+strPrefijoTipo+strNombre+")\r\n\t\t{\r\n\t\t\tthis."+strPrefijoTabla+strPrefijoTipo+strNombre+"=new"+strPrefijoTabla+strPrefijoTipo+strNombre+";"+ "\r\n\t\t\tthis.setIsChanged(true);\r\n\t\t}\r\n\t}";			
		}
		else
		{
			strPrefijo+=strPrefijoTabla+GetNombreClase(column.Table.ToString())+strPrefijoTipo+strNombre+"("+param+ " new"+strPrefijoTabla+strPrefijoTipo+strNombre +")\r\n\t{";
			strPrefijo+="\r\n\t\tif(this."+strPrefijoTabla+GetNombreClase(column.Table.ToString())+strPrefijoTipo+strNombre+"!="+"new"+strPrefijoTabla+strPrefijoTipo+strNombre+")\r\n\t\t{\r\n\t\t\tthis."+strPrefijoTabla+GetNombreClase(column.Table.ToString())+strPrefijoTipo+strNombre+"=new"+strPrefijoTabla+strPrefijoTipo+strNombre+";"+ "\r\n\t\t\tthis.setIsChanged(true);\r\n\t\t}\r\n\t}";			
		}
		
	}
	else
	{
		if(!esAuxiliar)
		{
			strPrefijo+=strPrefijoTabla+strPrefijoTipo+strNombre+"("+param+ " new"+strPrefijoTabla+strPrefijoTipo+strNombre +")throws Exception\r\n\t{";
			strPrefijo+="\r\n\t\ttry\r\n\t\t{\r\n\t\t\tif(this."+strPrefijoTabla+strPrefijoTipo+strNombre+"!="+"new"+strPrefijoTabla+strPrefijoTipo+strNombre+")\r\n\t\t\t{\r\n\t\t\t\tthis."+strPrefijoTabla+strPrefijoTipo+strNombre+"=new"+strPrefijoTabla+strPrefijoTipo+strNombre+";"+ "\r\n\t\t\t\tthis.setIsChanged(true);\r\n\t\t\t}\r\n\t\t}\r\n\t\tcatch(Exception ex)\r\n\t\t{\r\n\t\t\tthrow ex;\r\n\t\t}\r\n\t}";			
		}
		else
		{
			strPrefijo+=strPrefijoTabla+GetNombreClase(column.Table.ToString())+strPrefijoTipo+strNombre+"("+param+ " new"+strPrefijoTabla+strPrefijoTipo+strNombre +")throws Exception\r\n\t{";
			strPrefijo+="\r\n\t\ttry\r\n\t\t{\r\n\t\t\tif(this."+strPrefijoTabla+GetNombreClase(column.Table.ToString())+strPrefijoTipo+strNombre+"!="+"new"+strPrefijoTabla+strPrefijoTipo+strNombre+")\r\n\t\t\t{\r\n\t\t\t\tthis."+strPrefijoTabla+GetNombreClase(column.Table.ToString())+strPrefijoTipo+strNombre+"=new"+strPrefijoTabla+strPrefijoTipo+strNombre+";"+ "\r\n\t\t\t\tthis.setIsChanged(true);\r\n\t\t\t}\r\n\t\t}\r\n\t\tcatch(Exception ex)\r\n\t\t{\r\n\t\t\tthrow ex;\r\n\t\t}\r\n\t}";			
		}
	}
	
	
	return strPrefijo;
}

public string GetSqlParameterInsert(ColumnSchema column)
{
	
	String param=GetNombreColumnFromProperties(column);
	
	
	
	param+="=?";
	
	switch (column.Name)
	{
		case strVersionRow:
		{
			param=GetNombreColumnFromProperties(column);
			param+="=CURRENT_TIMESTAMP";
			break;
		}	
		/*case "isActive":
		{
			param+="=true";
			break;
		}	
		case "isExpired":
		{
			param+="=false";
			break;
		}	
		*/
		case strId:
		{
			param="";
			break;
		}
		
	}
	
	return param;
}

public string GetSqlParameterUpdate(ColumnSchema column)
{
	
	String param= GetNombreColumnFromProperties(column);
	
	param+="=?";
	
	switch (column.Name)
	{
		case strVersionRow:
		{
			param= GetNombreColumnFromProperties(column);
			param+="=CURRENT_TIMESTAMP";
			break;
		}	
		case strId:
		{
			param=String.Empty;
			break;
		}
	}
	
	return param;
}

public string GetSqlParameterSelect(ColumnSchema column)
{
	
	String param= GetNombreColumnFromProperties(column);
	
	//if(column.Name==strId||column.Name==strIsActive||column.Name==strIsExpired|| column.Name==strVersionRow)
	//{
		param=Schema+"."+TablaBase.ToString().Replace("dbo.","")+"."+column.Name;
	//}
	
	return param;
}
public string GetSqlParameterSelectDefault(ColumnSchema column)
{
	
	String param="";// GetNombreColumnFromProperties(column);
	
	//if(column.Name==strId||column.Name==strIsActive||column.Name==strIsExpired|| column.Name==strVersionRow)
	//{
	//	param=Schema+"."+TablaBase.ToString().Replace("dbo.","")+"."+column.Name;
	//}
	if(column.DataType==DbType.AnsiString ||column.DataType==DbType.AnsiStringFixedLength ||column.DataType==DbType.String||column.DataType==DbType.StringFixedLength)
	{			
		param="''";
							
	}			
	else if(column.DataType==DbType.Boolean)
	{
		param="0";
	}
	else if(column.DataType==DbType.Decimal||column.DataType==DbType.Double)
	{
		param="0.0";			
	}
	else if(column.DataType==DbType.Int16||column.DataType==DbType.Int32||column.DataType==DbType.Int64||column.DataType==DbType.Single||column.DataType==DbType.UInt16||column.DataType==DbType.UInt32||column.DataType==DbType.UInt64)
	{
		param="0";	
	}
	else if(column.DataType==DbType.Int16||column.DataType==DbType.Single||column.DataType==DbType.UInt16||column.DataType==DbType.UInt32||column.DataType==DbType.UInt64)
	{
		param="0";
	}
	else if(column.DataType==DbType.Date||column.DataType==DbType.DateTime)
	{
		param="'2008-07-07 12:00:00.00'";	
	}
	else if(column.DataType==DbType.Binary&&column.Name==strVersionRow)
	{
		param="'2008-07-07 12:00:00.00'";	
	}
	
	param+=" as "+column.Name;
	
	return param;
}

public string GetSqlParameterSelectRelacionado(ColumnSchema column)
{
	
	String param= GetNombreColumnFromProperties(column);
	
	//if(column.Name==strId||column.Name==strIsActive||column.Name==strIsExpired|| column.Name==strVersionRow)
	//{
		param=Schema+"."+TablaBaseRelacionado.ToString().Replace("dbo.","")+"."+column.Name+ " AS "+GetNombreTableFromProperties(TablaBaseRelacionado)+column.Name;
	//}
	
	return param;
}

public string GetNombreClase(string strTablaBase)
{	
		return GetNombreClaseC(strTablaBase);
}

public string GetCampoTabla(ColumnSchema column)
{
	string strPrefijo = column.Name;
	return strPrefijo;
	}

public static string GetNombreColumnaClase(ColumnSchema column)
{
	return GetNombreColumnaClaseC(column);
}

public static string GetTipoColumnaClase(ColumnSchema column)
	{
		return GetTipoColumnaClaseC(column);
	}
	
public static string GetTipoColumnaClaseEnum(ColumnSchema column)
	{
		return GetTipoColumnaClaseEnumC(column);
	}
	
public static string GetNombreCompletoColumnaClase(ColumnSchema column)
{
	return GetNombreCompletoColumnaClaseC(column);
	}
</script>
<?php
<%=GetByDanLicence()%>
<%=strPhp53VersionComment%>namespace <%=Empresa%>/<%= Package%>/<%=Module%><%=strPackageBusiness%>/<%=strPackageEntities%>;

include_once('<%=Empresa%>/<%=strPackageFramework%>/<%= PackageFramework%>/<%=strPackageBusiness%>/<%=strPackageEntities%>/GeneralEntity.php');
<%=strPhp53VersionComment%>use <%=Empresa%>/<%=strPackageFramework%>/<%= PackageFramework%>/<%=strPackageBusiness%>/<%=strPackageEntities%>\GeneralEntity;

//import java.io.Serializable;

class <%=GetNombreClase(TablaBase.ToString())%><%=GetNombreClase(TablaBaseRelacionado.ToString())%><%=strClaseAuxiliar%> extends GeneralEntity { /*implements Serializable*/ 
	private static $serialVersionUID=1;
	
	public static $QuerySelect="select <% for (int i = 0; i < TablaBase.Columns.Count; i++){ %><%= GetSqlParameterSelect(TablaBase.Columns[i]) %><% if (i < TablaBase.Columns.Count - 1) { %>,<% } %><% } %>,<% for (int i = 0; i < TablaBaseRelacionado.Columns.Count; i++){ %><%= GetSqlParameterSelectRelacionado(TablaBaseRelacionado.Columns[i]) %><% if (i < TablaBaseRelacionado.Columns.Count - 1) { %>,<% } %><% } %> from <%=Schema%>.<%=GetNombreTabla(TablaBase)%> inner join <%=Schema%>.<%=GetNombreTabla(TablaBaseRelacionado)%> on <%=Schema%>.<%=GetNombreTabla(TablaBase)%>.<%=strId%><%=GetNombreClaseC(TablaBaseRelacionado.ToString())%>=<%=Schema%>.<%=GetNombreTabla(TablaBaseRelacionado)%>.<%=strId%>";
	public static $QuerySelectNoSeleccionados="select distinct <% for (int i = 0; i < TablaBase.Columns.Count; i++){ %><%= GetSqlParameterSelectDefault(TablaBase.Columns[i]) %><% if (i < TablaBase.Columns.Count - 1) { %>,<% } %><% } %>,<% for (int i = 0; i < TablaBaseRelacionado.Columns.Count; i++){ %><%= GetSqlParameterSelectRelacionado(TablaBaseRelacionado.Columns[i]) %><% if (i < TablaBaseRelacionado.Columns.Count - 1) { %>,<% } %><% } %> from <%=Schema%>.<%=GetNombreTabla(TablaBaseMaster)%>,<%=Schema%>.<%=GetNombreTabla(TablaBaseRelacionado)%> where <%=Schema%>.<%=GetNombreTabla(TablaBaseRelacionado)%>.<%=strId%> not in ";
	public static $QuerySelecttIdSeleccionados="(select <%=Schema%>.<%=GetNombreTabla(TablaBaseRelacionado)%>.<%=strId%> from <%=Schema%>.<%=GetNombreTabla(TablaBase)%> inner join <%=Schema%>.<%=GetNombreTabla(TablaBaseRelacionado)%> on <%=Schema%>.<%=GetNombreTabla(TablaBase)%>.<%=strId%><%=GetNombreClaseC(TablaBaseRelacionado.ToString())%>=<%=Schema%>.<%=GetNombreTabla(TablaBaseRelacionado)%>.<%=strId%>";
	 
	private $<%=GetNombreClaseObjetoC(TablaBase.ToString())%>=null;
	private $<%=GetNombreClaseObjetoC(TablaBaseRelacionado.ToString())%>=null;
				
	function __construct () {
		//super();		
		$<%=GetNombreClaseObjetoC(TablaBase.ToString())%>= new <%=GetNombreClase(TablaBase.ToString())%>();
		$<%=GetNombreClaseObjetoC(TablaBaseRelacionado.ToString())%>= new <%=GetNombreClase(TablaBaseRelacionado.ToString())%>();
		parent::setQuerySelect(QuerySelect);	
    } 
			
	public function get<%=GetNombreClase(TablaBase.ToString())%>() {
		return $this-><%=GetNombreClaseObjetoC(TablaBase.ToString())%>;
	}

	public function set<%=GetNombreClase(TablaBase.ToString())%>($<%=GetNombreClaseObjetoC(TablaBase.ToString())%>) {
		$this-><%=GetNombreClaseObjetoC(TablaBase.ToString())%> = <%=GetNombreClaseObjetoC(TablaBase.ToString())%>;
	}

	public function get<%=GetNombreClase(TablaBaseRelacionado.ToString())%>() {
		return $this-><%=GetNombreClaseObjetoC(TablaBaseRelacionado.ToString())%>;
	}

	public function set<%=GetNombreClase(TablaBaseRelacionado.ToString())%>($<%=GetNombreClaseObjetoC(TablaBaseRelacionado.ToString())%>) {
		$this-><%=GetNombreClaseObjetoC(TablaBaseRelacionado.ToString())%> = $<%=GetNombreClaseObjetoC(TablaBaseRelacionado.ToString())%>;
	} 		
}
?> 