<%@ Template Language="C#" TargetLanguage="C#" Description="Template de la capa de Acceso a Datos" %>    	
<%@ CodeTemplate Src="..\..\CommonCode\CommonCode.cs" Inherits="Me.CommonCode" Language="C#" TargetLanguage="C#" Description="A base class for the entities." ResponseEncoding="UTF-8" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Property Name="NombreProgramador" Type="System.String" Default="Byron Chavez" Category="Options" Description="Nombre del Programdor" %>
<%@ Property Name="Package" Type="System.String" Default="Indefinido" Category="Options" Description="Nombre de la Entidad" %>
<%@ Property Name="TablaBase" Type="SchemaExplorer.TableSchema" EXCLUDED="true"
	Category="Context"%>
<%@ Property Name="ColumnLabel" Type="SchemaExplorer.ColumnSchema" Category="Context"%>
<%@ Property Name="ColumnValue" Type="SchemaExplorer.ColumnSchema" Category="Context"%>



<script runat="template">

public static string GetSetEntityColumna(ColumnSchema column)
{				
	String strSetEntity=string.Empty;
	
	if(column.Name.Equals("id")||column.Name.Equals("isActive")||column.Name.Equals("isExpired")||column.Name.Equals("versionRow"))
	{
		return strSetEntity;
	}
	String strEntityInit="entity.set";
	String strEntityMiddle="(rs.get";
	String strEntityFinal="\"));";
	//entity.setNombre(rs.getString("nombre"));	
    strSetEntity=strEntityInit+GetNombreCompletoColumnaClaseC(column)+strEntityMiddle+GetTipoColumnaClaseC(column)+"(\""+GetNombreCampoTablaC(column)+strEntityFinal;
	
	return strSetEntity;
}

public static string GetNombreClase(string strTablaBase)
{				
		return GetNombreClaseC(strTablaBase);
}

public static string GetNombreClaseObjeto(string strTablaBase)
{				
		return GetNombreClaseObjetoC(strTablaBase);
}
</script>

package Utils.Presentation.Web.Ajax.JMaki.<%= Package%>;

import java.util.ArrayList;

import Business.Entities.<%= Package%>.<%=GetNombreClase(TablaBase.ToString())%>;

public class DojoComboBox<%=GetNombreClase(TablaBase.ToString())%> extends DojoComboBox{
	public static String Traer<%=GetNombreClase(TablaBase.ToString())%>s(ArrayList<<%=GetNombreClase(TablaBase.ToString())%>> <%=GetNombreClaseObjeto(TablaBase.ToString())%>s) 
	{	
		StringBuilder tableAjax=new StringBuilder();
		
		Integer count=1;
		
		StartCreateFiles(tableAjax) ;	
		
		
		for(<%=GetNombreClase(TablaBase.ToString())%> <%=GetNombreClaseObjeto(TablaBase.ToString())%>:<%=GetNombreClaseObjeto(TablaBase.ToString())%>s)
		{								 
			if(<%=GetNombreClaseObjeto(TablaBase.ToString())%>s.size()!=count)
			{
				CreateFile(tableAjax,<%=GetNombreClaseObjeto(TablaBase.ToString())%>.getColumnName<%=GetNombreCampoTablaC(ColumnLabel)%>(),<%=GetNombreClaseObjeto(TablaBase.ToString())%>.getColumnName<%=GetNombreCampoTablaC(ColumnValue)%>(),true);
			}
			else
			{
				CreateFile(tableAjax,<%=GetNombreClaseObjeto(TablaBase.ToString())%>.getColumnName<%=GetNombreCampoTablaC(ColumnLabel)%>(),<%=GetNombreClaseObjeto(TablaBase.ToString())%>.getColumnName<%=GetNombreCampoTablaC(ColumnValue)%>(),false);
				
			}
			count++;
		}		
		EndCreateFiles(tableAjax) ;	
		
		return tableAjax.toString();
	}
}


   

